@import '../components/colors';
@import '../components/card';
@import '../components/theme-defaults';
@import '../components/typography';

.searchBox {
    position: relative;
} 

#admin.wide-contents-container {

    .filter-container.ingredients {
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }
    
    .suggestionsList {
        top: 39px;
        left: 63px;
        border-radius: $medium-border-radius;
        text-align: left;
        background-color: transparent;
        
    }
}

#add-ingredient, #edit-ingredient {
    .suggestionsList {
        top: 33px;
        left: 63px;
        border-radius: $medium-border-radius;
        text-align: left;
        background-color: transparent;
    }
}

#admin-container {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 53px;
        margin-bottom: 20px; 
    }

    p.admin-msg {
        text-align: center;
        margin-bottom: 60px;
    }

}

#main-container {
    #category {
        max-width: 600px !important;
        padding: 2rem;

        .btn {
            text-transform: uppercase;
            padding: 1rem;
            margin: 1rem;
        }
    }
}

@media (min-width: 992px) {
    #admin-container {
        max-width: 1200px;
        padding: 60px;
    }
}

@media only screen and (max-width: 1020px) {
    #admin-container {
        .card-links {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
        }

        a {
            width: 90%;
            height: 2rem;
        }
    }
}

