@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

.wide-contents-container {

    .filter-container {
        display: flex;
        align-items: center;
        padding: 0.6rem;
        padding-top: 0.9rem;
        margin: 1.5rem 0;
        background: var(--background-gradient); //$success-400;
        border-radius: $border-radius;
        border-color: 1px solid $primary-bg-subtle;


        span.input-group-text {
            padding-left: 0 !important;
            text-transform: uppercase;
            font-weight: bold !important;
            font-size: 1.1rem !important;
            color: var(--bs-body-bg) !important;
            background-color: transparent !important;
            border-color: transparent !important;

            &:first-child {
                padding-left: 0;
            }
        }

        input, textarea, select {
            border-color: $primary-400 !important;
            background-color: var(--bs-body-bg) !important;
            border-top-left-radius: $border-radius !important;
            border-bottom-left-radius: $border-radius !important;
        }
    }

    .recipe-container {
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 2rem;
    }
}

// used to be recipe-mine
#recipe-container {
    max-width: 1300px;
    padding: 0 10px;

    .collection-heading {
        margin-left: 0;
        padding-left: 0;
    }

    #favourite-recipes, #owned-recipes {
        overflow-x: auto;
        height: 300px;

        .row.d-flex {
            height: 100%;
        }
    }
}

// mealplan collections
#meal-plans-mine {
    max-width: 1200px;

    .fas {
        font-size: 20px;
        line-height: 1;
    }

    #no-meal-plans-message-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 30px;
    }
}



@media (max-width: 573px) {
    .wide-contents-container {
        padding: 0 40px !important;
    }
}

@media (min-width: 768px) {
    #meal-plans-mine {
        #no-meal-plans-message-container {
            margin-top: 50px !important;
        }
    }
}

