@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/buttons';
@import '../components/typography';

.wide-contents-container {

    .filter-container {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.6rem;
        padding-top: 2rem;
        margin: 1.5rem 0;
        background: var(--background-gradient); //$success-400;
        border-radius: $border-radius-small;
        border-color: 1px solid $primary-bg-subtle;


        .filter-btn-container {
            position: absolute;
            top: 8px;
            right: 1rem;
            align-self: end;
            width: auto;
            padding: 0.1rem 0.5rem;
            margin-bottom: 0.5rem;
            cursor: pointer;

            .filter-link {
                display: flex;
                align-items: center;
                gap: 0.4rem;
                color: var(--accent-color);
                text-decoration: none;
            }

            &:hover {

                .filter-link {

                    .btnText {
                        color: var(--bs-body-color);
                        text-decoration: underline;
                    }

                    i.fa-solid {
                        color: var(--bs-body-color);
                    }
                }
            }
        }


        span.input-group-text {
            padding-left: 0 !important;
            text-transform: uppercase;
            font-weight: bold !important;
            font-size: 1.1rem !important;
            color: var(--bs-body-color) !important;
            background-color: transparent !important;
            border: none !important;
            transition: all 0.3s;

            &:first-child {
                padding-left: 0;
            }
        }

        input, textarea, select {
            border-color: transparent !important;
            border-top-left-radius: $border-radius-small !important;
            border-bottom-left-radius: $border-radius-small !important;
            background-color: var(--input-background) !important;
            color: var(--input-color) !important;
            font-size: 1.2rem !important;
            font-weight: 300;

            &::placeholder {
                color: var(--input-color);
                opacity: 0.9;
                font-size: 1.2rem !important;
                font-weight: 300;
            }
        }

        select {
            border-radius: $border-radius-small !important;

            option {
                background-color: var(--select-menu-filter-bg-color) !important;
            }
        }

        .tag-container {
            gap: 0.4rem;
            justify-content: space-between;
            margin-bottom: 0.6rem;

            .tag-group {
                width: 185px;
                border: 1px solid var(--accent-color);
                border-radius: $medium-border-radius;
                padding: 0.7rem 1rem;

                .tag-title {
                    font-size: 1.2rem;
                    color: var(--bs-body-color);
                    font-weight: 300;
                }

                .tag-line {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .form-check-input {
                        display: block;
                        line-height: 1.2;
                        border-radius: $border-radius-small;
                        height: 1.3rem;
                        width: 1.3rem;
                        margin-bottom: 0.2rem; // adjust center alignment with text
                    }

                    .form-check-label {
                        line-height: 1.2;
                        margin-top: $btn-custom-margin-top-fix;
                    }
                }
            }
        }
    }

    .recipe-container {
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 2rem;
    }
}

// used to be recipe-mine
#recipe-container {
    
    .collection-heading {
        margin-left: 0;
        padding-left: 0;
    }

    #favourite-recipes, #owned-recipes {
        overflow-x: auto;
        height: 300px;

        .row.d-flex {
            height: 100%;
        }
    }
}

// mealplan collections
#meal-plans-mine {

    .fas {
        font-size: 20px;
        line-height: 1;
    }

    #no-meal-plans-message-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    #meal-plans-mine {
        #no-meal-plans-message-container {
            margin-top: 50px !important;
        }
    }
}

