@import '../components/colors';
@import '../components/theme-defaults';

#contact-us {
    color: $dark-brown; // !important;

    .contact-form-container {

        font-family: $font-family-sans-serif;

        .form-control,
        .form-group label {
            background-color: transparent;
        }

        .form-select {
            background-color: transparent;
            appearance: none;
        }

        .form-control, .form-select {
            color: $dark-brown;

            &::placeholder {
                color: $dark-brown;
            }
        }

        .form-select option {
            background-color: transparent;
            color: $dark-brown;

            &:hover {
                background-color: $success;
            }
        }

        .contact {
            border: 1px solid var(--accent-color) !important;
        }
    }
}
