@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

#cookieConsent {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100vw;
    z-index: 9999;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-top: 2px solid var(--accent-color);
    padding: 1rem;

    .container-fluid {
        padding: 0.5rem;
        max-width: 800px;
        gap: 0.5rem;

        h2 {
            font-size: 2.2rem;

            i {
                font-size: 2.2rem;
                margin-right: 0.25rem;
            }
        }

        .user-text {
            font-size: 1.2rem;
            font-weight: 300;
        }

        .cookie-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;

            button, a {
                
                font-size: 1.4rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #cookieConsent {
        padding: 0.5rem 0.4rem !important;

        .container-fluid {
            gap: 0.25rem !important;

            h2 {
                font-size: 1.6rem;

                i {
                    font-size: 1.6rem;
                }
            }

            .user-text {
                font-size: 1rem;
                font-weight: 300;
            }

            .cookie-buttons {
                width: 100%;
                flex-direction: column !important;
                align-items: center;
                gap: 1rem;

                button, a {
                    width: 100% !important;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
