@import '../components/colors';
@import '../components/theme-defaults';

footer {
    font-family: $font-family-sans-serif;
    color: $white;
    border-top: 2px solid var(--accent-color);

    .info-col {
        margin-top: -2.35rem;

        .logo-container {
            gap: 0.75rem;
            margin-bottom: 1rem;
            font-family: $font-family-serif;
            font-size: 3rem;
            color: $white;

            .footer-logo {
                max-height: 6rem;
                width: auto;
                height: 100%;
            }

            &:hover {
                color: $success;
            }
        }

        .info-list {
            font-size: 1.1rem;
            font-weight: 300;

            .copyright {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }

    .links-col {
        h5 {
            font-size: 1.5rem;
            font-weight: normal;
        }

        li a {
            font-weight: 300;
            font-size: 1.1rem;
            color: $white !important;

            &:hover {
                color: $success !important;
            }
        }
    }
}

/*footer {*/
    /*position: relative;
    z-index: 5000;
    font-weight: 300;
    font-size: 13px;

    #links-container {
        flex-direction: column;

        .footer-padding {
            padding: 1rem;
        }

        .footer-border {
            border: none;
        }

        a {
            text-decoration: none;
            color: $white;
            cursor: pointer;

            &:hover {
                color: $light !important;
                text-decoration: underline;
            }
        }
    }*/
/*}*/

/*
@media (min-width: 631px) {

    footer {

        #links-container {
            flex-direction: row !important;

            .footer-border {
                border-right: 1px solid $white !important;
            }

            .footer-padding {
                padding: 0 1rem !important;
            }
        }
    }

    .fixed-footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
}*/


/*@media (min-width: 887px) {
    footer {
        font-size: 14px;

        #links-container {
            flex-direction: row !important;

            .footer-padding {
                padding: 0 2rem !important;
            }
        }
    }
}*/