@import '../components/colors';
@import '../components/theme-defaults';

footer {
    font-family: $font-family-sans-serif;
    color: $white;
    border-top: 2px solid var(--accent-color);

    .info-col {
        margin-top: -2.35rem; // to align logo text with columns

        .logo-container {
            gap: 0.75rem;
            margin-bottom: 1rem;
            font-family: $font-family-serif;
            font-size: 3rem;
            color: $white;

            .footer-logo {
                max-height: 6rem;
                width: auto;
                height: 100%;
            }

            &:hover {
                color: $success;
            }
        }

        .info-list {
            font-size: 1.1rem;
            font-weight: 300;
            /*.copyright {
                font-size: 1rem;
               
                i{
                    font-size: 0.8rem;
                }
            }*/
        }
    }

    .links-col {
        h5 {
            font-size: 1.5rem;
            font-weight: normal;
        }

        li a {
            font-weight: 300;
            font-size: 1.1rem;
            color: $white !important;

            &:hover {
                color: $success !important;
            }
        }
    }

    .footer-divider {
        width: 100%;
        margin: 2rem 0;
        height: 1px;
        background-color: $success;
    }

    .footer-copyright {
        display: flex;
        align-items: center;

        .copyright {
            font-size: 1rem;
            font-weight: 400;

            i{
                font-size: 0.9rem;
            }
        }
        
    }
}

