@import '../components/colors';
@import '../components/theme-defaults';

#hero {
    position: relative;
   /* top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background: url('/img/hero-large-1980.webp') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;*/

    #hero-text-background {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        min-width: 80%;
        //max-width: 1160px;
        border-radius: $border-radius-small;

        .text-container {
            padding: 60px 10px;

            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }

    /*@media (max-width: 1200px) {
        background: url('/img/hero-medium-1200.webp') no-repeat center center;
        background-size: cover;
    }

    @media (max-width: 768px) {
        background: url('/img/hero-small-768-1024.webp') no-repeat center center;
        background-size: cover;

        #hero-text-background {
            width: 90%;
        }
    }*/
}

[data-bs-theme="light"] {
    #hero-text-background {
        background: linear-gradient(to bottom, rgba(255,255,255, 0.65), rgba(255,255,255, 0.7));
    }
}

[data-bs-theme="dark"] {

    #hero-text-background {
        background: linear-gradient(to bottom, rgba(0,0,0, 0.65), rgba(0,0,0, 0.7));
        
    }
}
