@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

#hero {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;

    #hero-text-background {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        padding: 4rem 2rem;
        width: 90%;
        max-width: 1360px;
        border-radius: $border-radius-small;

        .hero-content-container {
            
            display: flex;
            flex-direction: column;
            gap: 2.6rem;

            h2 {
                font-size: 2.6rem;
            }

            .message {

                .inviting-text {
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-bottom: 0.1rem;
                }
            }

            .buttons {
                display: flex;
                flex-direction: row;
                align-items: end;
                justify-content: center;
                gap: 1rem;
            }
        }
    }
}

[data-bs-theme="light"] {
    #hero-text-background {
        background: linear-gradient(to bottom, rgba(255,255,255, 0.65), rgba(255,255,255, 0.7));
    }
}

[data-bs-theme="dark"] {

    #hero-text-background {
        background: linear-gradient(to bottom, rgba(0,0,0, 0.65), rgba(0,0,0, 0.7));
        
    }
}

// Media queries for custom containers
@media (max-width: 1186px) {
    #hero-text-background {
        top: 5% !important;
        width: 96% !important;
        padding: 4rem 2rem !important;


        .hero-content-container {
            
            gap: 1.6rem !important;

            h2 {
                font-size: 2.4rem !important;
            }

            .inviting-text {
                font-size: 1.5rem !important;
                font-weight: 400;
                margin-bottom: 0.4rem !important;
            }

            .inviting-text:last-of-type {
                margin-bottom: 2.5rem !important;
            }

            .btn-text {
                font-size: 1.6rem !important;
            }
        }
    }
}

@media (max-width: 900px) {
    #hero-text-background {
        top: 10% !important;
        padding: 3rem 1.4rem !important;

        .hero-content-container {
            gap: 1.2rem !important;

            h2 {
                font-size: 1.8rem !important;
            }

            .inviting-text {
                font-size: 1.3rem !important;
                font-weight: 400;
                margin-bottom: 0.8rem !important;
            }

            .inviting-text:last-of-type {
                margin-bottom: 2.5rem !important;
            }

            .btn-text {
                font-size: 1.5rem !important;
            }
        }
    }
}


@media (max-width: 560px) {
    #hero-text-background {
        top: 5% !important;

        padding: 2.5rem 0.8rem !important;
            
        .hero-content-container {
            gap: 0.6rem !important;

            h2 {
                font-size: 1.3rem !important;
            }

            .inviting-text {
                font-size: 1.1rem !important;
            }

            .btn-text {
                font-size: 1.4rem !important;
            }
        }
    }
}
