@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

#shopping-list {
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-height: 600px;

    section#shopping-list-section {

        #heading-container {
            margin-bottom: 2rem;

            h2 {
                font-family: $font-family-serif;
                margin-bottom: 0.5rem;
                font-size: 1.8rem;
            }

            .dates {
                margin-left: 0.2rem;
                font-weight: 300;
                font-size: 1rem;

                .date {
                    font-weight: 500;
                }
            }
        }

        .container {
            p.ingredient-heading {
                font-size: 16px;
                text-decoration: underline;
                font-weight: 500;
                margin-bottom: 2px;
            }
        }

        .group-buttons-container {
            position: absolute;
            top: 33px;
            right: 33px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            border-radius: $border-radius;
            padding: 1rem;
            gap: 0.5rem;
            background: var(--background-gradient);
            opacity: 0.9;

            .back-btn-container {
                order: -1;
            }
        }
    }
}

@media (min-width: 1100px) {
    #shopping-list-section {
        .group-buttons-container {
            top: 0 !important;
            right: -100px !important;
            opacity: 1 !important;
        }
    }
}

