@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

#user-profile {

    .card-container {
        border: 1px solid $primary-border-subtle;

        .card-img {
            width: 300px;
        }

        .profile-container {
            padding: 2rem 1.5rem;

            .stat {


                h5 {
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    margin-bottom: 0.25rem;
                }
            }

            .info-style {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}

.validation-summary-errors ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.validation-summary-errors li {
    color: $danger; 
    margin-bottom: 5px; 
}

.form-container {
    margin-bottom: 5rem;

    .input-group-text {
        border-top-left-radius: $border-radius !important;
        border-bottom-left-radius: $border-radius !important;

        i {
            padding: 0.25rem;
            font-size: 1.2rem;
            color: $white;
        }
    }

    .form-control {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.user-text {
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
}

.stronger-message {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $font-family-serif;
    margin-bottom: 2rem;
}

.redirection-message {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.2;
    margin-bottom: 0;
}

.bolder-red-text {
    color: $danger;
    font-weight: 400;
    font-size: 1.3rem;
}

.buttons-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

.suggested-links-message {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.3;
    font-family: $font-family-serif;
    margin-bottom: 1.5rem;
}

#user-forgot-password,
#user-reset-pass {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
    }
}

#user-email-confirmation-info {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);

        .small {
            line-height: 1;
            font-weight: 300;
        }
    }
}

#user-email-confirmed {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);

        h3{
            color: var(--accent-color);
        }

        .small {
            line-height: 1;
            font-weight: 300;
        }
    }
}

#user-account-deleted {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 15%); 

        

        
    }
}

#user-reset-pass-conf {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 60%);

        .user-message {
            font-size: 1.3rem;
        }
    }
}

#user-change-pass {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 10%);
    }
}

#user-forgot-password-confirmation {
    position: relative;

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);

       

       .small {
           line-height: 1;
           font-weight: 300;
       }
    }
}

@media (max-width: 767px) {
    #user-profile {
        .card-container {
            flex-direction: column;
            gap: 20px;

            .card-img {
                width: 100%;
                max-height: 250px;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}
