@import '../components/colors';
@import '../components/theme-defaults';
@import '../components/typography';

#user-profile {

    .card-container {
        border: 1px solid $primary-border-subtle;

        .card-img {
            width: 300px;
        }

        .profile-container {
            padding: 2rem 1.5rem;

            .stat {


                h5 {
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    margin-bottom: 0.25rem;
                }
            }

            .info-style {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}

#user-login, #user-register {
    margin-bottom: 5rem;

    .account-message {
        margin-top: 0.2rem;
        line-height: 1.0;
    }
    
}

@media (max-width: 767px) {
    #user-profile {
        .card-container {
            flex-direction: column;
            gap:20px;            

            .card-img {
                width: 100%;
                max-height: 250px;
                object-fit: cover;
                object-position: top;
                
            }

        }
    }
}
