@model RecipeIngredientFormViewModel
@using static CookTheWeek.Common.NotificationMessagesConstants

<div class="row" id="ingredient-container">
    <div class="form-group d-flex col-5 input-form">
        <input id="addIngredient" asp-for="Name" class="form-control me-2" style="min-width: 12rem" >
        <span asp-validation-for="Name" class="small text-danger"></span>
        <ul id="ingredientsSuggestionList"></ul>
        <div class="d-flex gap-1 buttons">
            <div class="addButton">
                <button class="btn btn-primary text-light" id="addRecipeIngredient">+</button>
            </div>
            <div class="removeBtn">
                <button class="btn btn-danger text-light" id="removeRecipeIngredient">-</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>initialize();</script>
}