<header>
    <nav id="navigation" class="navbar navbar-expand-lg fixed-top" data-bs-theme="dark">
        <div id="nav-container" class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">CookTheWeek</a>
            <div id="navcol-5" class="collapse navbar-collapse">
                <ul id="nav-list" class="navbar-nav ms-auto" > @* style="color: rgba(255,255,255,0.65);"> *@
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown">
                            <a id="recipeDropDown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Manage Recipes </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="recipeDropDown">
                                <a class="dropdown-item" asp-area="" asp-controller="Recipe" asp-action="Add">Add Recipe</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Recipe" asp-action="All">All Recipes</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Recipe" asp-action="Mine">My Recipes</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown">
                            <a id="ingredientDropDown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Manage Ingredients </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="ingredientDropDown">
                                <a class="dropdown-item" asp-area="" asp-controller="Ingredient" asp-action="Add">Add Ingredient</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Ingredient" asp-action="All">All Ingredients</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown" >
                            <a id="categoryDropdown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Category </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoryDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="Add">Add Category</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Category" asp-action="All">All Categories</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="User" asp-action="All">Users</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="MealPlan" asp-action="All">Meal Plans</a></li>
                    <li id="logout-btn" class="user-btn nav-item text-bg-primary bg-dark border-1 border-primary shadow-sm border rounded"><a id="nav-logout-btn" class="inner-btn nav-link active" asp-area="" asp-controller="User" asp-action="Logout">Sign Out</a></li>
                </ul>
            </div><button class="navbar-toggler" data-bs-target="#navcol-5" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
</header>

@section Scripts {
    
}            