<header class="no-print">
    <nav id="admin" class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
        <div id="nav-container" class="container">
            <a class="navbar-brand accent-heading" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">                
                <img src="/img/logo-big.png" alt="CookTheWeek Logo" class="navbar-logo">
                <span class="brand-name">CookTheWeek</span>
            </a>
            <div id="navigation-buttons" class="collapse navbar-collapse">
                <ul id="nav-list" class="navbar-nav ms-auto" > 
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown nav-dropdown-btn">
                            <a id="recipeDropDown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Recipes </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="recipeDropDown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="RecipeAdmin" asp-action="Add">Add Recipe</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="RecipeAdmin" asp-action="All">All Recipes</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="RecipeAdmin" asp-action="Site">Site Recipes</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown nav-dropdown-btn">
                            <a id="ingredientDropDown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Ingredients </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="ingredientDropDown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="IngredientAdmin" asp-action="Add">Add Ingredient</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="IngredientAdmin" asp-action="All">All Ingredients</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown nav-dropdown-btn" >
                            <a id="categoryDropdown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Categories </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="categoryDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AddRecipeCategory">Add Recipe Category</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AllRecipeCategories">All Recipe Categories</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AddIngredientCategory">Add Ingredient Category</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="CategoryAdmin" asp-action="AllIngredientCategories">All Ingredient Categories</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="UserAdmin" asp-action="All">Users</a></li>
                    <li class="nav-item drop-down">
                        <div class="nav-item dropdown nav-dropdown-btn">
                            <a id="mealPlanDropdown" class="dropdown-toggle drop-down-item" aria-expanded="false" data-bs-toggle="dropdown" href="#" role="button">Meal Plans </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="mealPlanDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="MealPlanAdmin" asp-action="AllActive">All Active</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="MealPlanAdmin" asp-action="AllFinished">All Finished</a>
                            </div>
                        </div>
                    </li>
                    <li id="logout-btn" class="user-btn nav-item text-bg-primary bg-dark border-1 border-primary shadow-sm border rounded">
                        <a id="nav-logout-btn" class="nav-btn nav-link active" asp-area="" asp-controller="User" asp-action="Logout">Sign Out</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around" data-bs-target="#navigation-buttons" data-bs-toggle="collapse">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>
        </div>
    </nav>
</header>

@section Scripts {
    
}            