<a id="backBtn" href="@(!string.IsNullOrEmpty(ViewBag.ReturnUrl) ? ViewBag.ReturnUrl : Url.Action("Home", "Index"))" class="btn btn-primary card-back-button fixed-size-btn btn-icon-only">
    <i class="fa-solid fa-angles-left"></i> 
</a>