<div class="back-btn-container">
    <a id="backBtn" href="@(!string.IsNullOrEmpty(ViewBag.ReturnUrl) ? ViewBag.ReturnUrl : Url.Action("Home", "Index"))" class="back-button-main">
        <i class="fa-solid fa-angles-left"></i>
    </a>
</div>