<div>
    <div id="build-btn-container" class="text-center py-2" style="display: none" data-toggle="tooltip" title="Edit/Build Meal Plan">
        <a class="btn-build" id="build-meal-plan-btn" type="button">
            <i class="fa fa-check" aria-hidden="true"></i>
        </a>
    </div>
    <!-- Anti-Forgery Token -->
    <form id="antiForgeryForm">
        @Html.AntiForgeryToken()
    </form>
</div>






