
<div id="build-btn-container" style="display: none" data-toggle="tooltip" title="Edit/Build Meal Plan">
    <a class="btn-build" id="build-meal-plan-btn" type="button">
        <i class="fa fa-check" aria-hidden="true"></i>
    </a>
    <!-- Anti-Forgery Token -->
    <form id="antiForgeryForm">
        @Html.AntiForgeryToken()
    </form>
</div>







