@model ContactFormModel
<div class="contact-form-container">
        <h3 class="heading-secondary">Have something to say?</h3>
        <p>
            Have questions or feedback? Your input matters! Feel free to share any thoughts, suggestions, or issues you encounter.
        </p>

        <form id="contact-form" method="post" asp-area="" asp-controller="Home" asp-action="Contact">
            <div class="row form-row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="@Model.FullName">Your Name</label>
                        <input asp-for="FullName"
                               type="text"
                               placeholder="John Smith"
                               class="form-control contact" />
                    </div>
                    <span asp-validation-for="FullName" class="small text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group2">
                        <label for="@Model.EmailAddress">Email address</label>
                        <input asp-for="EmailAddress"
                               type="email"
                               class="form-control contact"
                               placeholder="me@example.com" />
                    </div>
                    <span asp-validation-for="EmailAddress" class="small text-danger"></span>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="form-group col-12">
                    <label for="@Model.Subject">Subject</label>
                    <select class="form-select contact" asp-for="Subject">
                        <option value="" disabled>Please choose one option:</option>
                        <option value="User Experience">User Experience</option>
                        <option value="Features">Features</option>
                        <option value="Recipes">Recipes</option>
                        <option value="Performance">Performance</option>
                        <option value="Design">Design</option>
                        <option value="Customer Support">Customer Support</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <span asp-validation-for="Subject" class="small text-danger"></span>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-12">
                    <label for="@Model.Message">Message</label>
                    <textarea asp-for="Message" rows="4" class="form-control contact" placeholder="Tell me all about it.."></textarea>
                </div>
                <span asp-validation-for="Message" class="small text-danger"></span>
            </div>

            <div class="row py-3">
                <div class="d-flex align-items-center justify-content-center">
                    <button form="contact-form" class="contact-btn" type="submit">Send Message</button>
                </div>
            </div>

        </form>
    </div>
    


