@model ModalViewModel

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header position-relative">
                <div class="heading-container d-flex flex-column">
                    <i class="@Model.IconClass"></i>
                    <p class="modal-title" id="confirmDeleteModalLabel">@Model.Title</p>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="user-text">@Model.Content</p>
            </div>
            <div class="modal-footer two-buttons">
                <button type="button" class="cancel-btn" data-bs-dismiss="modal">
                    <span class="btn-text">Cancel</span>
                </button>
                <a id="confirmDeleteBtn" type="button" class="delete-button">
                    <span class="btn-text">Delete</span>
                </a>
            </div>
        </div>
    </div>
</div>