@using Microsoft.AspNetCore.Http.Features
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var consentCookie = Context.Request.Cookies[CookieConsentName];
    bool cookieExists = !string.IsNullOrEmpty(consentCookie);
    var cookieName = "";

    if (!cookieExists)
    {
        cookieName = consentFeature?.CreateConsentCookie(); // Cookie string for "Accept All"
    }   
}


@if (!cookieExists)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
            <h3><span><i class="fa-solid fa-cookie-bite"></i></span>
                We use cookies
            </h3>
            <p class="text-center">
                By using this website, you automatically accept that we use cookies. 
            </p>
            <button id="acceptAll" type="button" class="btn btn-primary w-25 text-center">
                <span aria-hidden="true">Ok, I understand</span>
            </button>
            <a id="hideCookieBanner" href="/Home/CookiePolicy" class="btn btn-light w-25 text-center">
                <span aria-hidden="true">What for?</span>
            </a>          
            
        </div>        
    </div>
    <script>
        (function () {
            
            var acceptAllButton = document.getElementById("acceptAll");
            var readMoreButton = document.getElementById("hideCookieBanner");
            
            acceptAllButton.addEventListener("click", function () {
                
                document.cookie = "@cookieName";
                document.getElementById("cookieConsent").style.display = "none";
                
            });           

        })();
    </script>
}
