@using Microsoft.AspNetCore.Http.Features
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var consentCookie = Context.Request.Cookies[CookieConsentName];
    bool cookieExists = !string.IsNullOrEmpty(consentCookie);
    var cookieName = "";

    if (!cookieExists)
    {
        cookieName = consentFeature?.CreateConsentCookie(); // Cookie string for "Accept All"
    }   
}


@if (!cookieExists)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div class="container-fluid d-flex flex-column align-items-center justify-content-between">
            <h2><span><i class="fa-solid fa-cookie-bite"></i></span>
                We use cookies
            </h2>
            <p class="user-text">
               To ensure our app functions properly and to track user activity related to the app's content, we need to use cookies.
               By clicking 'Accept All,' you consent to the storage of those cookies on your device.
               For more information, please refer to our <a asp-area="" asp-controller="Home" asp-action="Privacy" class="custom-link">Privacy Policy</a>.
            </p>
            <div class="cookie-buttons">
                <button id="acceptAll" 
                        type="button" 
                        aria-label="Accept all cookies"
                        class="signup-button">
                    <span aria-hidden="true">Accept All</span>
                </button>
                
                <a id="hideCookieBanner" 
                    href="/Home/CookiePolicy"
                    aria-label="Cookie Policy Details"
                    class="learnmore-button">
                    <span aria-hidden="true">Learn more</span>
                </a>
            </div>
        </div>        
    </div>
    <script>
        (function () {
            
            var acceptAllButton = document.getElementById("acceptAll");            
            
            acceptAllButton.addEventListener("click", function () {
                
                document.cookie = "@cookieName";
                document.getElementById("cookieConsent").style.display = "none";
                
            });           

        })();
    </script>
}
