@using Microsoft.AspNetCore.Http.Features
@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var consentCookie = Context.Request.Cookies[CookieConsentName];
    bool cookieExists = !string.IsNullOrEmpty(consentCookie);
    var cookieName = "";

    if (!cookieExists)
    {
        cookieName = consentFeature?.CreateConsentCookie(); // Cookie string for "Accept All"
    }   
}


@if (!cookieExists)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        <div class="d-flex flex-column gap-3 align-items-center justify-content-between">
            <h3><span><i class="fa-solid fa-cookie-bite"></i></span>
                We use cookies
            </h3>
            <p>
                Many are necessary to operate the website and its functions. Others are for statistical purposes. 
            </p>
            <p>
                With the decision <strong>"Only accept essential cookies"</strong> we will respect your privacy and will not set cookies that aren`t necessary for the operation of the site. <a asp-page="/Home/CookiePolicy">Learn More</a>.
            </p>

            <button id="acceptAll" type="button" class="btn btn-primary w-100 text-center" >
                <span aria-hidden="true">Accept All</span>
            </button>
            <button id="declineAnaliticalCookies" type="button" class="btn btn-outline-primary w-100 text-center">
                <span aria-hidden="true">Only accept essential cookies</span>
            </button>
        </div>        
    </div>
    <script>
        (function () {
            
            var acceptAllButton = document.getElementById("acceptAll");
            var declineButton = document.getElementById("declineAnaliticalCookies");

            acceptAllButton.addEventListener("click", function () {
                
                document.cookie = "@cookieName";
                document.getElementById("cookieConsent").style.display = "none";
                
            });            

            declineButton.addEventListener("click", function () {
                             
                const days = 30; // set expiration of the cookie to 30 days;
                
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000)); // Calculate the expiration time
                var expires = date.toUTCString(); // Format the expiration date

                document.cookie = `${"@CookieConsentName"}=false; expires=${expires}; path=/`;
                
                document.getElementById("cookieConsent").style.display = "none";
            });

        })();
    </script>
}
