@using static CookTheWeek.Common.GeneralApplicationConstants
@inject IUserContext UserContext
@{
    bool isLoggedIn = UserContext.UserId != default;
    
}
<footer class="bd-footer pt-6 pb-3 bg-dark">
    <div class="container pt-5 pb-2">
        <div class="row">
            <div class="col-lg-3 mb-5 info-col">
                <a href="/" class="logo-container d-inline-flex align-items-center">
                    <img src="/img/logo-big.png" alt="CookTheWeek Logo" class="footer-logo">
                    <span class="fs-5">CookTheWeek</span>
                </a>
                <ul class="list-unstyled text-white info-list">
                    <li class="mb-3">
                        Your ultimate meal-planning companion.
                    </li>
                    <li class="mb-3">
                        Transform your weekly meals with ease. Plan, organize, and discover recipes tailored to your lifestyle—all in one place. 
                    </li>
                    <li class="mb-3">
                        CookTheWeek is designed to simplify your cooking journey and bring joy to your table.
                    </li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 offset-lg-1 mb-3 links-col">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/">Home</a>
                    </li>
                    <li class="mb-2">
                        <a href="/Home/About">About</a>
                    </li>
                    <li class="mb-2">
                        <a href="/Home/HowItWorks">How It Works</a>
                    </li>
                    <li class="mb-2">
                        <a href="/Home/Contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 links-col">
                <h5>Recipes</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/Recipe/All">Browse</a>
                    </li>
                    <li class="mb-2">
                        <a asp-area="" asp-controller="Recipe" asp-action="QuickDinners">Quick Dinners</a>
                    </li>                    
                    <li class="mb-2">
                        <a href="#">Kids Friendly</a>
                    </li>
                    <li class="mb-2">
                        <a href="#">Vegetarian</a>
                    </li>
                    <li class="mb-2">
                        <a href="#">Gluten-Free</a>
                    </li>                    
                    <li class="mb-2">
                        <a href="#">Most Liked</a>
                    </li>
                    <li class="mb-2">
                        <a href="#">New In</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 links-col">
                <h5>Account</h5>
                <ul class="list-unstyled">
                    @if(isLoggedIn)
                    {
                        <li class="mb-2">
                            <a href="/User/Profile">Profile</a>
                        </li>
                        <li class="mb-2">
                            <a href="/Recipe/Mine">My Recipes</a>
                        </li>
                        <li class="mb-2">
                            <a href="/MealPlan/Mine">My Meal Plans</a>
                        </li>
                    }
                    else
                    {
                        <li class="mb-2">
                            <a href="/User/Login">Sign In</a>
                        </li>
                        <li class="mb-2">
                            <a href="/User/Register">Register</a>
                        </li>
                        <li class="mb-2">
                            <a href="/User/ForgotPassword">Forgot Password</a>
                        </li>
                    }

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3 links-col">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/Home/Privacy">Privacy Policy</a>
                    </li>                    
                    <li class="mb-2">
                        <a href="/Home/CookiePolicy">Cookie Policy</a>
                    </li>
                    <li class="mb-2">
                        <a href="/Home/TermsOfUse">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="footer-divider"></div>
    <div class="container d-flex footer-copyright">
        <p class="copyright">
            <i class="fa-regular fa-copyright me-1"></i>@ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                <span> - @DateTime.UtcNow.Year </span>
            }
            CookTheWeek. All rights reserved.
        </p>
    </div>
</footer>
