@using static CookTheWeek.Common.GeneralApplicationConstants

<footer class="text-center d-flex flex-column align-items-center justify-content-center bg-dark no-print @(FixedFooterActions.Contains(ViewContext.RouteData.Values["action"].ToString()) ? "fixed-footer" : "")">
    <div id="links-container" class="pt-1 pb-2 d-flex align-items-center justify-content-center">
        <div class="text-center footer-padding footer-border"><a href="/Home/About">About</a></div>
        <div class="text-center footer-padding footer-border"><a href="/Home/HowItWorks">How It Works</a></div>
        <div class="text-center footer-padding footer-border"><a href="/Home/Contact">Contact us</a></div>
        @{
            if (!string.IsNullOrEmpty(User.GetId()))
            {
                <div class="text-center footer-padding footer-border"><a href="/User/Profile">Profile</a></div>
            }
            else
            {
                <div class="text-center footer-padding footer-border"><a href="/User/Register">Register</a></div>
            }
        }
        <div class="text-center footer-padding footer-border"><a href="/Home/Privacy">Privacy Policy</a></div>
        <div class="text-center footer-padding footer-border"><a href="/Home/CookiePolicy">Cookie Policy</a></div>
        <div class="text-center footer-padding"><a href="/Home/TermsOfUse">Terms Of Use</a></div>
        
        
    </div>
    <hr class="text-white w-75 my-0 py-0"/>
    <div class="py-1">
        <p class="small text-white mb-0">
            CookTheWeek &copy; Meal Planning App @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                <span> - @DateTime.UtcNow.Year</span>
            }
        </p>
    </div>
</footer>   