<header>
    <nav id="navigation" class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
        <div id="nav-container" class="container">
            <a class="navbar-brand d-flex align-items-center" href="#">CookTheWeek</a>
            <div id="navcol-5" class="collapse navbar-collapse">
                <ul id="nav-list" class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="All">Browse Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="Mine">My Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Recipe" asp-action="Add">Add Recipe</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="MealPlan" asp-action="Mine">Meal Plans</a></li>
                    <li id="logout-btn" class="nav-item text-bg-primary bg-dark border rounded border-1 border-primary shadow-sm"><a id="nav-logout-btn" class="nav-link active" asp-aria="" asp-controller="User" asp-action="Logout">Sign Out</a></li>
                </ul>
            </div><button class="navbar-toggler" data-bs-target="#navcol-5" data-bs-toggle="collapse"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
</header>