@{
    ViewBag.Title = "Page Not Found";
    int errorCode = ViewBag.ErrorCode ?? 404; 
}
<div id="not-found-container" class="image-overlay error-image">
    <div class="form-container info-message">
        <h2 class="text-danger text-capitalize mb-1">Oops! </h2>
        <h2 class="text-danger text-uppercase mb-2">Page Not Found</h2>
        <h5 class="mb-1">
            It seems we can`t find the page you`re looking for.
        </h5>
        <p class="fw-bold mb-4">(Error @errorCode)</p>
        <p class="fw-bold mb-2">Here are some helpful links instead:</p>

        <!-- Buttons to redirect the user -->
        <div class="row g-2 my-2 mb-4">
            <div class="col col-sm-4">
                <a href="/" class="btn btn-primary w-100 text-center">Home</a>
            </div>
            <div class="col col-sm-4">
                <a href="/Recipe/All" class="btn btn-secondary w-100 text-center">Recipes</a>
            </div>
            <div class="col col-sm-4">
                <a href="/Home/Contact" class="btn btn-light w-100 text-center">Contact us</a>
            </div>            
        </div>
       
    </div>
   
</div>


