@model ShoppingListViewModel
@{
    ViewData["Title"] = "Shopping List";
}

<div style="max-width: 800px;margin: 0 auto;">
    <partial name="_ProductsByCategoriesPartial", model="@Model" />
    <button id="generatePdfBtn">Save File</button>
</div>
    
<script>
    $(document).ready(function () {
        // Attach click event to the button
        $('#generatePdfBtn').click(function () {
            debugger;
            // Navigate to the controller action URL to trigger download
            window.location.href = '/ShoppingList/GeneratePdf?id=@Model.Id';
        });
    });
</script>







