@{
    ViewData["Title"] = "About";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = "App Purpose"
    };
}
<div id="about-container" class="list-container">
    <partial name="_HeadingPartial" model="headingModel" />

    <div class="row gx-5 gy-5">
        <!-- Image column -->
        <div class="col-12 col-sm-4 image-row">
            <img class="img-fluid rounded" src="~/img/who-am-i.jpg" alt="creator photo" />
        </div>
        <!-- Text column -->
        <div class="col-12 col-sm-8 text-container">
            <div>
                <p>
                    Hi, I'm Yana, the founder of CookTheWeek. As a busy mom passionate about homemade dinners, I faced the daily challenge of finding new recipes and optimizing grocery shopping. This inspired me to create CookTheWeek—a user-friendly app designed to help busy parents effortlessly plan and prepare delicious meals.
                </p>
                <p>
                    CookTheWeek is born from my love of cooking and my desire to simplify meal planning for households. The app streamlines the process, providing fresh ideas, organizational tools, and convenience for families looking to enjoy wholesome meals without the hassle.
                </p>
                <p>
                    I'd love to hear your questions or feedback! Reach out through the form below, and I'll get back to you as soon as possible.
                </p>
            </div>            
        </div>        
    </div>
    <div class="row thank-message-row">
        <div class="col col-12 message-container">
            <p class="quote">
                "Cooking is an art, and planning is the brush that brings the masterpiece to life. At CookTheWeek, we believe that a thoughtfully planned week of meals removes the stress of daily cooking, forgotten meals, and last-minute shopping lists. By bringing a sense of effortless structure, it allows you to nourish both your body and soul with ease and satisfaction."
            <p class="author">- CookTheWeek Team</p>
            <p class="thank-message">
                Thank you for choosing CookTheWeek to enhance your meal planning experience!
            </p>
        </div>
    </div>
    <div class="row">
        <p>For any questions or feedback, do not hesitate to contact me, using the site <a href="/Home/Contact">Contact Form</a>!</p>
    </div>
    
</div>

@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
}