@{
    ViewData["Title"] = "About";
}
<div class="container" id="features-container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col"><img class="rounded" id="features-img" src="~/img/micheile-henderson-3YHXTs1CxFI-unsplash.jpg" width="" height=""></div>
        <div class="col d-flex flex-column justify-content-center p-4">
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                    <div class="icon-box">
                        <i class="fa-regular fa-bookmark"></i>
                    </div>
                </div>
                <h4>Recipe Library</h4>
                <div class="features-container">
                    <p>Dive into our extensive recipe library featuring a diverse range of dishes from around the world.<br><br>Easily add your own favorite recipes with our intuitive pre-defined ingredients in just a few clicks. Have them all in one place,&nbsp;conveniently organized for easy browsing.</p><a asp-area="" asp-action="All" asp-controller="Recipe" class="text-capitalize features-link">
                        Browse All Recipes&nbsp;
                        <i class="fa-regular fa-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                    <div class="icon-box">
                        <i class="fa-regular fa-calendar-days"></i>
                    </div>
                </div>
                <div class="features-container">
                    <h4>Custom Meal Plans</h4>
                    <p>Tailor all recipes to your specific family needs, guest number or pre-cooked meals with our adjustable serving size functionality.<br><br>You pick the meals, we make the calculations!</p><a asp-area="" asp-controller="User" asp-action="Register" class="text-capitalize features-link">
                        Sign Up To Try Out&nbsp;
                        <i class="fa-regular fa-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start">
                <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block mb-3 bs-icon md">
                    <div class=" icon-box">
                        <i class="fa-regular fa-rectangle-list"></i>
                    </div>
                </div>
                <div class="features-container">
                    <h4>Shopping List&nbsp;</h4>
                    <p>Say goodbye to forgotten ingredients with our automatic shopping list generator.<br><br>Quickly compile a comprehensive list of groceries based on your chosen recipes, saving you time and hassle at the store.</p>
                </div>
            </div>
        </div>
    </div>
</div>

