@{
    ViewData["Title"] = "About";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = "App Purpose"
    };
}

<div id="about" class="about-section">
    <div class="list-container">
        <partial name="_HeadingPartial" model="headingModel" />
        <div class="about-container">
            <div class="intro-text">
                <p class="user-text">
                    CookTheWeek is your all-in-one platform to simplify meal planning,
                    save time in the kitchen, and organize your cooking effortlessly.
                    Whether you’re looking for inspiration from curated recipes,
                    adding your own private creations, or building personalized meal plans, we’ve got you covered.
                </p>
                <p class="user-text">
                    With advanced filters, intuitive tools, and smart shopping list generation,
                    CookTheWeek transforms the way you plan, cook, and shop for meals.
                    Start your culinary journey today and make every week a delicious success!
                </p>
            </div>
            <div class="features-grid">
                <div class="feature-item">
                    <i class="fa-solid fa-book-open"></i>
                    <h3>View Recipe Details</h3>
                    <p>Access full recipe info.</p>
                    <p>Read ingredient list and cooking steps.</p>
                </div>
                <div class="feature-item">
                    <i class="fa-solid fa-feather"></i>
                    <h3>Secure Family Treasures</h3>
                    <p>Add your favourites recipes.</p>
                    <p>Be sure they are protected and not visible to others.</p>
                </div>
                <div class="feature-item">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <h3>Browse Collections</h3>
                    <p>Discover a variety of recipes to inspire your meals.</p>
                    <p>Filter and sort recipes, using conveniently created filters.</p>
                </div>
                <div class="feature-item">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <h3>Apply Advanced Filters</h3>
                    <p>Filter recipes by complex scenarious.</p>
                    <p>Combine multiple filters for specific diet or occasion.</p>
                </div>
                <div class="feature-item">
                    <i class="fa-solid fa-utensils"></i>
                    <h3>Build Custom Plans</h3>
                    <p>Adjust serving size and cooking date for every meal.</p>
                    <p>Organize your week and edit it as many times as needed.</p>
                </div>
                <div class="feature-item">
                    <i class="fa-solid fa-cart-plus"></i>
                    <h3>Get Shopping Lists</h3>
                    <p>Never miss buying a product again.</p>
                    <p>Download or e-mail a full & well-structured shopping list.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-container">
        <div class="cta-section">
            <h3>Transform Your Mealtime Today!</h3>
            <div class="text">
                <p class="user-text">Sign up now to unlock personalized meal plans, save your favorite recipes, and let CookTheWeek simplify your cooking journey. Never miss an ingredient again!</p>
                
            </div>

            <a asp-controller="User" asp-action="Register" class="cta-btn">Start Now</a>
        </div>
    </div>
   
</div>
