@model ContactFormModel

<div id="contact-us" class="wide-contents-container">   
    <partial name="_ContactFormPartial" model="Model" />
</div>

@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
}
