@model ContactFormModel
@{
    ViewData["Title"] = "Contact us";   
}
<div id="contact-us" class="container">   
    <partial name="_ContactFormPartial" model="Model" />
</div>

@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
}
