@model ContactFormModel
@{
    ViewData["Title"] = "Contact us";

    var headingModel = new PageHeadingViewModel
        {
            Subheading = ViewData["Title"]!.ToString(),
        };
}
<div id="contact-us" class="list-container">
    <partial name="_HeadingPartial" model="headingModel" />

    <partial name="_ContactFormPartial" model="@Model"/>
</div>

@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
}
