﻿@{
    ViewData["Title"] = "Error 500: Internal Server Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://ubiq.co/tech-blog/wp-content/uploads/2020/08/apache-500-internal-server-error-730x410.png" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>The server encountered an unexpected condition that prevented it from fulfilling the request.</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>