@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="p-0 m-auto">   
    <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5">
        <div id="hero-text-background" class="row">
            <div class="col text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center col-lg-10">
                <div class="container-fluid text-container">
                    <h2 class="text-uppercase fw-bold mb-4">Simplify Your Meal Planning with CookTheWeek</h2>
                    <p class="inviting-text">Are you tired of the hassle of meal planning?</p>
                    <p class="inviting-text">Ready to take control of your kitchen and bring excitement back to your table?</p>
                    <p class="inviting-text mb-5"> Welcome to CookTheWeek, your ultimate meal planning companion!</p>
                    <div class="d-flex align-items-center justify-content-center gap-2">
                        <a class="signup-button" asp-area="" asp-controller="User" asp-action="Register"><span class="btn-text">Sign Up</span></a>
                        <a class="learnmore-button" asp-area="" asp-controller="Home" asp-action="HowItWorks"><span class="btn-text">Learn More</span></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

