@{
    ViewData["Title"] = "Home Page";
}

<section id="hero">   
    
    <div id="hero-text-background">
        
            <div class="hero-content-container">
                <h2 class="text-uppercase fw-bold">Simplify Your Meal Planning with CookTheWeek</h2>
                <div class="message">
                    <p class="inviting-text">Are you tired of the hassle of meal planning?</p>
                    <p class="inviting-text">Ready to take control of your kitchen and bring excitement back to your table?</p>
                    <p class="inviting-text"> Welcome to CookTheWeek, your ultimate meal planning companion!</p>
                </div>
                <div class="buttons">
                    <a class="signup-button" asp-area="" asp-controller="User" asp-action="Register"><span class="btn-text">Sign Up</span></a>
                    <a class="learnmore-button" asp-area="" asp-controller="Home" asp-action="HowItWorks"><span class="btn-text">Learn More</span></a>
                </div>
                    
            </div>
       
    </div>
    
</section>

