@{
    ViewData["Title"] = "Home Page";
}

<section class="p-0 m-0">
    <div class="container">
        <div id="image-container" class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)) center / cover;background-image: url('assets/img/pexels-dana-tentis-691114.jpg');height: 500px;background-size: cover;">
            <div id="hero-text-background" class="row">
                <div class="col text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center col-lg-10">
                    <div>
                        <h1 class="text-uppercase fw-bold mb-3">Simplify Your Meal Planning with CookTheWeek</h1>
                        <p class="mb-4">Are you tired of the hassle of meal planning? Ready to take control of your kitchen and bring excitement back to your table? Welcome to CookTheWeek, your ultimate meal planning companion!</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Sign Up</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>