@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="p-0 m-auto">   
    <div id="image-container" class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5">
        <div id="hero-text-background" class="row">
            <div class="col text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center col-lg-10">
                <div class="text-container">
                    <h1 class="text-uppercase fw-bold mb-3">Simplify Your Meal Planning with CookTheWeek</h1>
                    <p class="mb-4">Are you tired of the hassle of meal planning? Ready to take control of your kitchen and bring excitement back to your table? Welcome to CookTheWeek, your ultimate meal planning companion!</p>
                    <a class="btn btn-primary fs-5 me-2 py-2 px-4" asp-area="" asp-controller="User" asp-action="Register">Sign Up</a>
                    <a class="btn btn-light fs-5 py-2 px-4" asp-area="" asp-controller="Home" asp-action="About">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>