@using static CookTheWeek.Common.GeneralApplicationConstants
@{
    ViewData["Title"] = "Privacy Policy";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
        HeadingSecondary = $"Last updated: [{PrivacyPolicyLastUpdateDateString}]"
    };
}

<div class="pb-5 list-container">
    <partial name="_HeadingPartial" model="headingModel" />

    <section>
        <h2 class="text-uppercase">Introduction</h2>        
        <p> We value your privacy and are committed to protecting your personal data. 
            This privacy policy explains how we collect, use, disclose, and safeguard your information when you visit our website <a href="http://www.cooktheweek.com">www.cooktheweek.com</a>.</p>
    </section>

    <section>
        <h3 class="text-uppercase">1. Information We Collect</h3>
        <p>We may collect and process the following types of information:</p>
        <ul>
            <li><strong>Personal Data</strong>: This includes any information you provide directly to us, such as your name/username and email address, and any other details you submit when you sign up for an account, or contact us.</li>
            <li><strong>Usage Data</strong>: We automatically collect information about how you interact with our Site, including your IP address, browser type, operating system, referring URLs, page views, and the dates and times of your visits.</li>
            <li><strong>Cookies and Tracking Technologies</strong>: We use cookies and similar tracking technologies to track activity on our Site and hold certain information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.</li>
        </ul>
    </section>

    <section>
        <h3 class="text-uppercase">2. How We Use Your Information</h3>
        <p>We use the information we collect in the following ways:</p>
        <ul>
            <li><strong>To Provide and Maintain Our Service</strong>: To operate and maintain our Site, including the management of your account and providing customer support.</li>
            <li><strong>To Improve Our Site</strong>: To understand and analyze how you use our Site, and to develop new products, services, features, and functionality.</li>
            <li><strong>To Protect Our Site</strong>: To detect, prevent, and address technical issues and to monitor the security of our Site.</li>
        </ul>
    </section>

    <section>
        <h3 class="text-uppercase">3. How We Share Your Information</h3>
        <p>We may share your information with:</p>
        <ul>
            <li><strong>Service Providers</strong>: Third-party vendors that help us operate our Site, such as hosting services, email delivery services, and analytics providers.</li>
            <li><strong>Legal Obligations</strong>: If required to do so by law or in response to valid requests by public authorities (e.g., a court or government agency).</li>
        </ul>
    </section>

    <section>
        <h3 class="text-uppercase">4. Your Data Protection Rights</h3>
        <p>Depending on your location, you may have the following rights regarding your personal data:</p>
        <ul>
            <li><strong>Access</strong>: The right to access and obtain a copy of your personal data.</li>
            <li><strong>Correction</strong>: The right to rectify inaccurate or incomplete personal data.</li>
            <li><strong>Deletion</strong>: The right to request the deletion of your personal data.</li>
            <li><strong>Restriction</strong>: The right to restrict the processing of your personal data.</li>
            <li><strong>Objection</strong>: The right to object to the processing of your personal data.</li>
            <li><strong>Portability</strong>: The right to request the transfer of your personal data to another party.</li>
        </ul>
    </section>

    <section>
        <h3 class="text-uppercase">5. Security of Your Information</h3>
        <p>We use administrative, technical, and physical security measures to protect your personal data. However, no method of transmission over the internet or method of electronic storage is 100% secure, and we cannot guarantee its absolute security.</p>
    </section>

    <section>
        <h3 class="text-uppercase">6. Links to Other Websites</h3>
        <p>Currently our Site does not contain any links to third-party websites. However, this may change in the future and our Privacy Policy will be updated accordingly.</p>
    </section>

    <section>
        <h3 class="text-uppercase">7. Changes to This Privacy Policy</h3>
        <p>We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page and updating the "Last updated" date.</p>
    </section>

    <section>
        <h3 class="text-uppercase">8. Contact Us</h3>
        <p>If you have any questions about this privacy policy, please contact us:</p>
        <ul>
            <li>By email: <a href="mailto:your-email@example.com">support@cooktheweek.com</a></li>
            <li>By using the contact form on our website: <a href="~/Home/Contact">Contact us</a></li>
        </ul>
    </section>
</div>
