@model IngredientAddFormModel
@{
    ViewData["Title"] = "Admin Add Ingredient";
}

<div id="add-ingredient">
    <div class="form-container">
        <h2 class="text-capitalize mb-1">Add Ingredient</h2>
        
        <form method="post" asp-area="Admin" asp-controller="IngredientAdmin" asp-action="Add">
            <div class="mb-3">
                <div class="input-group searchBox">
                    <span class="input-group-text">Name</span>
                    <input asp-for="Name"
                           class="form-control ingredientName"
                           placeholder="Type new ingredient..."
                           autocomplete="off">      
                    <div class="suggestionsList invisible">
                    </div>
                </div>
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text">Category</span>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <button type="submit" class="add-recipe-button">Add</button>
            </div>
        </form>       
    </div>
</div>

@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
    <script src="~/js/suggestions.js"></script>
}
