#navigation {
  padding: 0 0;
  margin: 0 0;
  height: 65px;
}
#navigation #nav-container {
  padding: 2px 40px;
  max-width: 100%;
  /* Navigation Btn on small screens*/
  /* State when the navbar is collapsed */
  /* End of Nav Btn */
}
#navigation #nav-container .navbar-brand {
  gap: 10px;
  padding: 0;
}
#navigation #nav-container .navbar-brand .navbar-logo {
  line-height: 65px;
  max-height: 63px;
  width: auto;
  height: 100%;
}
#navigation #nav-container .navbar-brand:hover {
  color: var(--bs-navbar-hover-color);
  transition: 0.5s;
}
#navigation #nav-container #navcol-5 {
  margin: 0;
  padding-right: 0px;
}
#navigation #nav-container #navcol-5 #nav-list {
  color: rgba(255, 255, 255, 0.65);
}
#navigation #nav-container #navcol-5 #nav-list .nav-item.drop-down {
  display: flex;
}
#navigation #nav-container #navcol-5 li.nav-item {
  padding-top: 0;
  border: 1px solid var(--bs-dark);
}
#navigation #nav-container #navcol-5 li.nav-item .nav-link, #navigation #nav-container #navcol-5 li.nav-item .nav-item {
  padding: 6px 16px;
}
#navigation #nav-container #navcol-5 li.nav-item .drop-down-item {
  text-decoration: none;
  color: #ffffff;
}
#navigation #nav-container #navcol-5 li.nav-item .drop-down-item:hover {
  color: var(--bs-success);
}
#navigation #nav-container #navcol-5 li.nav-item:active {
  background-color: var(--bs-primary);
}
#navigation #nav-container #navcol-5 li.nav-item:hover {
  border: 1px solid var(--bs-primary);
}
#navigation #nav-container .navbar-toggler {
  width: 24px;
  height: 24px;
  position: relative;
  transition: 0.5s ease-in-out;
  /* when navigation is clicked */
}
#navigation #nav-container .navbar-toggler span {
  margin: 0;
  padding: 0;
}
#navigation #nav-container .navbar-toggler .toggler-icon {
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--bs-white);
  border-radius: 1px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
#navigation #nav-container .navbar-toggler .middle-bar {
  margin-top: 0px;
}
#navigation #nav-container .navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
#navigation #nav-container .navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
#navigation #nav-container .navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}
#navigation #nav-container .navbar-toggler:hover .toggler-icon {
  background-color: var(--bs-success);
}
#navigation #nav-container .navbar-toggler,
#navigation #nav-container .navbar-toggler:focus,
#navigation #nav-container .navbar-toggler:active,
#navigation #nav-container .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
#navigation #nav-container .collapsed .top-bar {
  margin-top: -19px;
  transform: rotate(0deg);
}
#navigation #nav-container .collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
#navigation #nav-container .collapsed .bottom-bar {
  margin-top: 19px;
  transform: rotate(0deg);
}

@media only screen and (max-width: 767px) {
  .navbar-expand-md #nav-container {
    padding: 2px 12px !important;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
  }
  .navbar-expand-md #nav-container #navcol-5 {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    z-index: 1500;
    background-color: var(--bs-dark-bg-subtle);
    opacity: 0.95;
  }
  .navbar-expand-md #nav-container #navcol-5 #nav-list {
    gap: 16px;
  }
  .navbar-expand-md #nav-container #navcol-5 #nav-list li.nav-item {
    border: 1px solid var(--bs-dark-bg-subtle);
  }
}
@media (min-width: 768px) {
  .navbar-expand-md #nav-list {
    gap: 24px !important;
  }
}
@media (min-width: 992px) {
  .navbar-expand-md #nav-list {
    gap: 75px !important;
  }
}

/* Base styles (Mobile-first approach) */
.navbar-expand-lg {
  /* Default mobile-first settings */
}
.navbar-expand-lg #nav-list {
  gap: 16px;
}

/* Media queries for various breakpoints */
/* Max-width for tablets (below 992px) */
@media (max-width: 991px) {
  #nav-container {
    padding: 0 12px !important;
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;
  }
  #navcol-5 {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    z-index: 1500;
    background-color: var(--bs-dark-bg-subtle);
    opacity: 0.95;
  }
  #navcol-5 #nav-list {
    gap: 16px;
  }
  #navcol-5 #nav-list li.nav-item {
    border: 1px solid var(--bs-dark-bg-subtle);
  }
  #navcol-5 #nav-list li.nav-item:hover {
    border: 1px solid var(--bs-success) !important;
  }
  #navcol-5 #nav-list .nav-item.drop-down {
    display: block !important;
  }
  #navigation.navbar-expand-lg {
    height: 60px;
  }
  #navigation.navbar-expand-lg .navbar-logo {
    line-height: 60px !important;
    max-height: 57px !important;
    width: auto;
    height: 100%;
  }
}
/* Min-width for small desktops and larger (starting from 830px) */
@media (min-width: 830px) {
  #nav-list {
    gap: 24px;
  }
}
/* Min-width for desktops (992px and up) */
@media (min-width: 992px) {
  #nav-list.admin {
    gap: 5px !important;
  }
  #nav-container {
    padding: 0 20px !important;
  }
}
/* Min-width for large desktops (1200px and up) */
@media (min-width: 1200px) {
  #nav-list {
    gap: 60px !important;
  }
  #nav-list.admin {
    gap: 24px !important;
  }
}
/*.navbar-expand-lg {

    @media (min-width: 830px) {
        #nav-list {
            gap: 24px;
        }
    }

    @media only screen and (max-width: 991px) {
        #nav-container {
            padding: 8px 12px 8px 12px !important;
            align-items: center !important;
            justify-content: space-between !important;
            display: flex !important;

            #navcol-5 {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                text-align: center;
                padding: 10px;
                z-index: 1500;
                background-color: var(--bs-dark-bg-subtle);
                opacity: 0.95;

                #nav-list {
                    gap: 16px;

                    li.nav-item {
                        border: 1px solid var(--bs-dark-bg-subtle);

                        &:hover {
                            border: 1px solid var(--bs-success) !important;
                        }
                    }

                    .nav-item.drop-down {
                        display: block !important;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        #nav-list.admin {
            gap: 14px !important;
        }
    }

    @media (min-width: 1200px) {
        #nav-list {
            gap: 60px !important;
        }

        #nav-list.admin {
            gap: 24px !important;
        }
    }
}

@media (max-width: 992px) {
    #navigation.navbar-expand-lg {
        height: 60px;
    }
}*/
@media (max-width: 768px) {
  #navigation.navbar-expand-md {
    height: 60px;
  }
}
