#theme-container {
  position: absolute;
  top: 54px;
  right: 5px;
  z-index: 100;
}
#theme-container .theme-switcher {
  position: relative;
}

@media (min-width: 768px) {
  #theme-container {
    right: 30px;
    top: 60px;
  }
}
