html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
html body {
  margin: 0 auto;
  position: relative;
}
html body #main-container {
  margin: 0 auto;
  padding: 91px 12px;
}
html body #main-container .suggestionsList {
  position: absolute;
  z-index: 1000;
  top: 29px;
  left: 100px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}
html body #main-container a {
  text-decoration: none;
}
html body footer {
  font-size: 14px;
  font-weight: 300;
}
html body .remove-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-danger);
  color: var(--bs-white);
  border-radius: 50%;
}
html body nav.fixed-bottom {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  html body #main-container {
    padding: 98px 20px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  html body #main-container {
    padding: 98px 40px;
  }
}
