html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
html body #main-container {
  padding: 90px 0;
  margin: 0 auto;
}
html body #main-container .suggestionsList {
  position: absolute;
  z-index: 1000;
  top: 29px;
  left: 100px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}
html body #main-container a {
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
[data-bs-theme=light] nav .fixed-bottom a.btn.btn-primary {
  background-color: var(--bs-success);
  color: #ffffff;
}
