:root {
  --meal-title-color: var(--bs-primary);
  --body-bg: var(--bs-white);
  --body-color: var(--bs-dark);
}
:root body {
  position: relative;
  margin: 0 auto;
}
:root body #build-btn-container {
  position: fixed;
  bottom: 39px;
  right: 7px;
  z-index: 10000;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
:root body #build-btn-container:hover {
  opacity: 0.9;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
html body #main-container {
  margin: 0 auto;
  padding: 91px 12px;
}
html body #main-container .btn-primary {
  color: #fff;
}
html body #main-container .btn-primary:hover {
  background-color: #fff;
  color: var(--bs-primary);
}
html body #main-container #add-recipe, html body #main-container #edit-recipe {
  max-width: 1000px;
}
html body #main-container #add-recipe .suggestionsList, html body #main-container #edit-recipe .suggestionsList {
  position: absolute;
  z-index: 1000;
  top: 29px;
  left: 100px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
}
html body #main-container a {
  text-decoration: none;
}
html body footer {
  font-size: 14px;
  font-weight: 300;
}
html body .remove-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bs-danger);
  color: var(--bs-white);
  border-radius: 50%;
}
html body nav.fixed-bottom {
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  #build-btn-container {
    bottom: 45px !important;
    right: 42px !important;
  }
}
@media (min-width: 769px) {
  #build-btn-container {
    bottom: 45px;
    right: 13px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  html body #main-container {
    padding: 98px 20px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  html body #main-container {
    padding: 98px 40px;
  }
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
