#navigation {
    padding: 0 0;
    margin: 0 0;
}

#nav-container {
    padding: 8px 40px 10px 40px;
    max-width: 100% !important;
}

.navbar-brand:hover {
    color: var(--bs-navbar-hover-color);
    transition: 0.5s;
}

#navcol-5 {
    margin-left: 0;
    padding-right: 0px;
    margin-right: 0px;
}

.nav-item {
    padding: 0;
}

.nav-link {
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 20px;
}

#login-btn {
    padding: 6px 16px 10px 16px;
    margin: 0;
}

    #login-btn:hover {
        background-color: var(--bs-primary) !important;
        color: var(--bs-white) !important;
        border-color: var(--bs-dark) !important;
        transition: 0.5s;
    }

#nav-login-btn {
    padding: 0;
    margin: 0;
}


@media only screen and (max-width: 767px) {
    #nav-container {
        padding: 8px 12px 8px 12px !important;
        align-items: center !important;
        justify-content: space-between !important;
        display: flex !important;
    }

    #nav-list {
        gap: 16px;
    }

    #navcol-5 {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        text-align: center;
        padding: 10px;
        z-index: 1500;
        background-color: var(--bs-dark-bg-subtle);
        opacity: 0.95;
    }
}

@media (min-width:768px) {
    #nav-list {
        gap: 24px !important;
    }
}

@media (min-width:992px) {
    #nav-list {
        gap: 75px !important;
    }
}
