@import 'colors';
@import 'theme-defaults';
@import 'mixins';
@import 'typography';

.btn {
    @include button-base();
}

.btn-primary {
    border: 1px solid $primary;
    background-color: $primary;
    //color: var(--bs-body-bg);
    color: $white;

    &:hover {
        border: 1px solid $primary;
        color: $primary;
        background-color: var(--bs-body-bg);
    }
}

.btn-secondary {
    border: 1px solid $primary-border-subtle;
    color: $primary;
    background-color: $success;

    &:hover {
        border: 1px solid $primary;
        color: $success;
        background-color: $primary;
    }
}

.btn-danger {
    border: 1px solid $danger;
    color: $white;
    background-color: $danger;

    &:hover {
        border: 1px solid $light;
        color: $danger;
        background-color: $light;
    }
}

.btn-light {
    color: $dark;
    background-color: $light;
    border: 1px solid $light;

    &:hover {
        color: $light;
        background-color: $dark;
        border: 1px solid $dark;
    }
}


// Navigation User Login / Logout Btn
li.user-btn {
    border: 1px solid $dark !important;
    //background-color: $dark !important;

    .icon-btn {
        display: block;
        text-align: center;

        i.fa {
            line-height: 1;
            font-size: 1.2rem;
            color: $success;
        }
    }

    &:hover {
        border: 1px solid $success !important;

        i.fa {
            color: $success !important;
        }
    }
}

// Reusable buttons


.download-btn {
    @include icon-button(var(--bs-body-bg), var(--accent-color), false, false, 1px, true, 46px, null, null, $border-radius);
}

.send-email-btn {
    @include icon-button(var(--bs-body-bg), var(--accent-color), false, false, 1px, true, 46px, null, null, $border-radius);
}

.back-button-main {
    @include icon-button(var(--bs-body-bg), var(--accent-color), false, false, 1px, true, 46px, null, null, $border-radius);
}

.details-btn,
.list-btn {
    @include icon-button(var(--bs-body-bg), $primary, false, true, 1px, true, 40px, null, null, $border-radius);
}
.plus {
    @include icon-button($primary, #fff, true, false, 2px, true, 40px, null, null, $border-radius);
    @include button-box-shadow-effect();
}

.minus {
    @include icon-button($danger, #fff, true, false, 2px, true, 40px, null, null, $border-radius);
    @include button-box-shadow-effect();
}

.delete-meal-button {
    @include icon-button($danger, var(--item-background-color), true, true, 2px, true, 36px, null, null, $border-radius-small);
    @include button-box-shadow-effect();
}

.cook-meal-button {
    @include icon-button(var(--bs-body-bg), var(--item-background-color), true, true, 2px, true, 36px, null, null, $border-radius-small);
    @include button-box-shadow-effect();

    &:hover {
        background-color: $primary;
        border: 2px solid $primary;
    }
}

.uncook-meal-button {
    @include icon-button($primary, var(--bs-body-bg), true, false, 2px, true, 36px, null, null, $border-radius-small);
    @include button-box-shadow-effect();
}


.repeat-btn {
    @include icon-button($primary, #fff, true, false, 1px, true, 40px ,null, null, null);
}



.shopping-list-btn,
.save-button,
.mealplan-details-btn,
.ok-btn {
    @include button-with-icon-and-text-cenetered();
    @extend .btn-primary;
}

.edit-button,
.copy-mealplan-button,
.cancel-btn,
.browse-recipes-btn {
    @include button-with-icon-and-text-cenetered();
    @extend .btn-secondary;
    
}

.save-button, 
.browse-recipes-btn, 
.shopping-list-btn, 
.edit-button, 
.delete-button, 
.add-recipe-button,
.mealplan-details-btn,
.edit-recipe-btn{
    text-transform: uppercase;
}

.add-recipe-button, .edit-recipe-btn {
    @include button-with-icon-and-text-cenetered(10rem);
    @extend .btn-secondary;
}

.browse-recipes-small-btn {
    @include button-with-icon-and-text-cenetered(10rem);
    @extend .btn-primary;
}

.delete-button {
    @include button-with-icon-and-text-cenetered();
    @extend .btn-danger;
}

.add-ingredient-btn,
.add-step-btn {
    @include icon-button($primary, $success, false, false, 2px, true, 40px, null, null, $border-radius-small);
    @include button-box-shadow-effect();
}

.remove-item-button {    
    @include icon-button($danger, #fff, true, false, 2px, true, 39px, null, null, $border-radius-small);
    @include button-box-shadow-effect();
}

.signup-button,
.learnmore-button {
    @include button-with-icon-and-text-cenetered(11rem);
}

.user-mealplans-btn {
    @include button-with-icon-and-text-cenetered(10rem);
    @extend .btn-danger;
}
.signup-button {
    @extend .btn-primary;
}

.learnmore-button {
    @extend .btn-light;
}

.go-to-login {
    @include button-sm-style(100%, $border-radius, 1.3rem, 0.3rem);
    @extend .btn-primary;
}

.go-to-home {
    @include button-sm-style(100%, $border-radius, 1.3rem, 0.3rem);
    @extend .btn-secondary;
}

.login-btn,
.browse-btn,
.set-password-btn {
    @include button-lg-style();
    @extend .btn-primary;
}

.add-btn {
    @include button-lg-style();
    @extend .btn-secondary;
}


.profile-btn {
    @include button-lg-style();
    @extend .btn-outline-danger;
}
.join-now-btn,
.login-modal-btn {
    @include button-sm-style(100%, $border-radius, 1.4rem, 0.4rem);
    font-weight: bold;
}

.join-now-btn {
    @extend .btn-danger;
}

.cta-btn {
    @include button-sm-style(260px, $border-radius-small, 1.9rem, 0.6rem);
    @extend .btn-danger;
}

.login-modal-btn {
    @extend .btn-secondary;     
}

.register-btn,
.reset-password-btn {
    @include button-lg-style();
    @extend .btn-danger;
}
.user-recipes-btn {
    @include button-sm-style();
    @extend .btn-primary;
}

.change-password {
    @include button-lg-style();
    @extend .btn-danger;
}

.profile-change-pass {
    @include button-sm-style(100%, $border-radius, 1.2rem, 0.3rem);
    @extend .btn-danger;
}


.profile-set-pass,
.profile-recipe-collection {
    @include button-sm-style(100%, $border-radius, 1.2rem, 0.3rem);
    @extend .btn-primary;
}

.back-to-home-btn {
    @include button-sm-style(100%, $border-radius, 1.5rem);
    @extend .btn-primary;
}


.delete-account-btn {
    @include button-sm-style(100%, $border-radius, 1.2rem, 0.3rem);
    @extend .btn-outline-danger;
}

.profile-mealplans {
    @include button-sm-style(100%, $border-radius, 1.2rem, 0.3rem);
    @extend .btn-secondary;
}

.contact-btn {
    @include button-lg-style(50%);
    @extend .btn-secondary;
}


.home-redirect-btn {
    @include button-sm-style(100%, $border-radius, 1.1rem);
    @extend .btn-primary;
}

.register-redirect-btn {
    @include button-sm-style(100%, $border-radius, 1.1rem);
    @extend .btn-danger;
}

#theme-container {
    position: fixed;
    top: 75px;
    right: 3px;
    z-index: 100;


    .theme-switcher {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-link {
            margin: 0;
            padding: 0 8px;
            vertical-align: middle;
            background-color: var(--bs-body-bg);
            border-radius: 10px;
            color: var(--bs-body-color);

            svg {
                vertical-align: middle;
            }
        }

        .dropdown-toggle {
            text-decoration: none;

            &::after {
                vertical-align: middle;
            }
        }
    }
}



// all recipes view: search btn
.search-btn {
    @include icon-button(var(--accent-color),var(--bs-body-bg), true, false, 0px, true, 46px, null, 1.3rem, 0);
    
    border-bottom-right-radius: $border-radius-small !important;
    border-top-right-radius: $border-radius-small !important;
}
// remove btns style on hover

.btn-outline-danger {
    border: 1px solid $danger;
    color: $danger;
    background-color: var(--bs-body-bg);

    &:hover {
        border: 1px solid $danger;
        color: var(--bs-body-bg);
        background-color: $danger;
    }
}

.btn-outline-primary {
    border: 1px solid $primary;
    color: $primary;

    &:hover {
        border: 1px solid $primary;
        color: $white;
        background-color: $primary;
    }
}

.pagination-btn {
    @include icon-button($primary, var(--bs-body-bg), true, false, 2px, true, 40px, null, 26px, $border-radius);
    @include button-box-shadow-effect();
}

.btn-build {
    @include icon-button(var(--bs-body-bg), $primary, false, true, 2px, true, 40px, null, 26px, $border-radius);
    @include button-box-shadow-effect();
}

.card-back-button {
    @include icon-button($primary, $success, 0px);
    border-radius: $border-radius;
}

.external-login-button {
    @include flex-center();
    flex-wrap: nowrap;
    padding: 6px 10px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #f8f9fa; // light
    border-radius: $border-radius-small;
    transition: all 0.3s;

    
    &:hover {
        border: 1px solid var(--accent-color) !important;               
    }

    .external-login-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    img {
        margin-right: 5px;
    }
}


#pagination-buttons {
    position: fixed;
    right: 57px;
    bottom: 17px;
    z-index: 100;
    
}

#build-btn-container {
    position: fixed;
    right: 10px;
    bottom: 25px;
    z-index: 100;
    
}

@media (min-width: 768px) {
    #theme-container {
        top: 65px;
        right: 6px;
    }
}


@media (min-width: 992px) {
    #build-btn-container {
        position: fixed;
        right: 21px !important;
        bottom: 26px !important;
    }

    #pagination-buttons {
        position: fixed;
        bottom: 18px !important;
        right: 69px !important;
    }

    #theme-container {
        top: 70px;
        right: 20px;
    }
}

@media (min-width: 1200px) {
    #theme-container {
        top: 70px;
        right: 40px;
    }
}
