@import 'colors';
@import 'icons';
@import 'theme-defaults';
@import 'typography';


.card-style {
    background-color: var(--bs-body-bg);
    border-radius: $border-radius;
    overflow-y: auto;
}

// style for adding custom card tab colors, custom border, shade, btn and footer settings
.card-custom-style-with-back-btn {
    background-color: var(--bs-body-bg);
    border: 1px solid $primary-border-subtle;
    

    .card-header {
        font-size: 1.1rem;
        border-bottom: none;

        .nav-item {
            border: none;

            .nav-link {
                border: none;
                margin-bottom: 0;
                color: $success;
                background-color: $primary;

                &:hover {
                    color: $primary !important;
                    background-color: $success;
                }
            }

            .nav-link.active {
                font-weight: bolder;
                background-color: var(--bs-body-bg);
                color: var(--bs-body-color) !important;


                &:hover {
                    background-color: var(--bs-body-bg) !important;
                    color: var(--bs-body-color) !important;
                }
            }
        }

        .card-back-button {
            position: absolute;
            top: 5px;
            right: 7px;
            z-index: 15;
            font-size: 18px;
        }
    }

    .card-body {

        .tab-pane {
            min-height: 50vh;
        }
    }

    .card-footer {
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;

            .btn-secondary {
                border: 1px solid $success;

                &:hover {
                    border: 1px solid $success !important;
                }
            }
        }
    }
}

// recipe card
.recipe-container {
    flex-grow: 0;
    background-color: var(--bs-body-bg);
    border: none;

    .recipe-details-link {
        display: block;
        border: none;
        text-decoration: none;
        color: inherit;
        background-color: var(--bs-body-bg);

        &:hover {
            text-decoration: none;
        }
    }

    .recipe-card {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        border: 1px solid var(--card-border-color);
        border-radius: $medium-border-radius;
        box-shadow: var(--card-box-shadow);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        background-color: var(--bs-body-bg);

       
        .image-container {
            .card-img-top {
                display: block;
                height: 13rem;
                width: 100%;
                object-fit: cover;
            }

            .liked-icon, .not-liked-icon, .fa-bookmark {
                position: absolute;
                top: 8px;
                left: 10px;
                z-index: 2;
                font-size: 26px;
            }

            .fa-bookmark {
                top: -2px;
                left: 10px;
                font-size: 30px;
            }

            .add-to-mealplan-container {
                position: absolute;
                right: 10px;
                bottom: 8px;
                z-index: 2;
            }
        }

        .card-body {
            height: 13rem;
            padding: 0.65rem !important;
            padding-top: 0.3rem !important;
            background-color: var(--bs-body-bg) !important;

            .recipe-details-link {
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 1;
                }

                .recipe-title {
                    font-family: $font-family-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--bs-body-color);
                    margin-top: 0.25rem;
                    margin-bottom: 0.125rem;
                    transition: color 0.3s ease, background-color 0.3s ease;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .recipe-info {
                margin-top: 0;
                margin-bottom: 0.4rem;
                font-family: $font-family-sans-serif;

                .time {
                    gap: 5px;
                    font-size: 15px;
                    font-family: $font-family-serif;

                    .icon-text {
                        margin-top: 2px; // fix icon and text alignment
                    }
                }
                // Custom badge color styles classes
                .bg-breakfast-yellow {
                    background-color: $breakfast-yellow;
                    color: $dark;
                }

                .bg-soup-orange {
                    background-color: $soup-orange;
                    color: $dark;
                }

                .bg-salad-green {
                    background-color: $salad-green;
                    color: $white;
                }

                .bg-main-dish-red {
                    background-color: $main-dish-red;
                    color: $white;
                }

                .bg-appetizer-green {
                    background-color: $appetizer-green;
                    color: $dark;
                }

                .bg-dessert-pink {
                    background-color: $dessert-pink;
                    color: $dark;
                }

                .bg-white {
                    background-color: $white;
                    color: $dark;
                }

                span.badge {
                    display: inline-block;
                    font-size: 15px;
                    padding: 3px 10px 1px 10px;
                    border-radius: $border-radius-small;
                    width: auto;
                }
            }

            .recipe-description {
                font-weight: 400;
                font-size: 17px;
                padding-bottom: 1rem;
            }
        }


        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: var(--card-box-shadow-hover);
        }
    }
}

.admin-card {
    border-color: $primary;
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;

    .card-body {
        padding: 25px 8px;

        .big-number {
            font-size: 52px;
        }

        .card-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            flex-wrap: wrap;

            a {
                border-radius: $border-radius-small;
                padding: 2px 16px 4px;
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .card-custom-style-with-back-btn {

        .card-back-button {
            height: 38px !important;
            top: 6px !important;
            right: 7px;
            font-size: 20px !important;
        }
    }
}