
// CUSTOM COLORS:
$dark-green: #2e6930;
$light-green: #B4E33D;
$orange: #f8b324;
$off-green: #82a583;
$yellow: #F9C74F;
$red: #DA0505;
$light-grey: #FBE2B4;
$dark-grey: #212529;
$white: #fff;
$dark-brown: #170d03;
$icon-stroke-color: #5A5A5A;
// TEST colors:
$medium-gray-bg: #2D3339; 
$light-green-bg: #BFE85E; 


$dark-dirty-green: #485b18;
$very-dark-green: #121706;
$very-light-green: #f8fcec;
$medium-light-green: #9CCF35;
$light-gradient-green: #bce650;
$dark-gradient-green: #7e9f2b;
$secondary-window-bg-dark-theme: #4A613C; 
$secondary-window-bg-light-theme: $very-light-green;



$breakfast-yellow: #FFEB3B;
$soup-orange: #FF9800;
$salad-green: #4CAF50;
$main-dish-red: #E53935;
$appetizer-green: #8BC34A;
$dessert-pink: #F48FB1;

// THEME CUSTOM COLORS:
$primary: $dark-green;
$secondary: $off-green;
$success: $light-green;
$warning: $orange;
$danger: $red;
$light: $light-grey;
$dark: $dark-grey;

$primary-400: tint-color($primary, 20%);
$success-400: tint-color($success, 20%);
$dark-700: shade-color($dark, 40%);

// BODY DEFAULT COLORS:
$light-body-bg: $white;
$light-body-color: $dark;

$dark-body-bg: $dark;
$dark-body-color: $white;

$body-color: $light-body-color;
$body-bg: $light-body-bg;

// NAVIGATION OVVERIDES:
$navbar-light-color: $primary;
$navbar-hover-color: $success;

$nav-link-color: $success;
$nav-link-hover-color: $white;

$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;

$dropdown-link-active-bg: $primary;
$dropdown-link-active-color: $white;

$dropdown-dark-color: $white;
$dropdown-dark-link-color: $white;
$dropdown-dark-link-hover-color: $success;

// CARD-OVERRIDES:
$card-cap-bg: $primary;
$card-cap-color: $success;
$card-bg: $body-bg;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-hover-color: $primary;


// To use and maybe customize:
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary-text-emphasis: shade-color($primary, 60%) !default;
$success-text-emphasis: shade-color($success, 60%) !default;
$primary-bg-subtle: tint-color($primary, 80%) !default;
$success-bg-subtle: tint-color($success, 80%) !default;
$primary-border-subtle: tint-color($primary, 60%) !default;
$success-border-subtle: tint-color($success, 60%) !default;
$body-color: $gray-900 !default;
$body-bg: $white !default;
$body-color: $gray-900 !default;
$body-bg: $white !default;

$body-secondary-color: rgba($body-color, .75) !default;
$body-secondary-bg: $gray-200 !default;

$body-tertiary-color: rgba($body-color, .5) !default;
$body-tertiary-bg: $gray-100 !default;

$body-emphasis-color: $black !default;
$success-empasis-color: #242d0c;

// OTHER DEFAULT OVERRIDES:
$font-family-sans-serif: 'League Spartan', sans-serif;
$font-family-serif: "Libre Baskerville", serif;
$small-font-size: 0.9rem;
$border-radius: 2px;
$border-radius-small: 8px;
$medium-border-radius: 12px;
$item-border-radius: 15px;
$pill-border-radius: 20px;
$link-decoration: none;
$link-hover-color: $success;
$link-hover-color-dark-theme: $light-green-bg;
$accent-color: $primary;
$link-color: $accent-color;
$btn-transition: background-color 0.3s ease-in, color 0.3s ease-in;
$default-padding: 2rem 2.4rem 3rem 2.4rem;
$item-padding: 1.5rem 2rem 2.5rem 2rem;
$nav-links-padding: 6px 16px 3px 16px;
$btn-custom-margin-top-fix: 0.325rem;


$background-gradient-light: radial-gradient(circle, #B4E33D, #9CCF35, #7CA06E);
$background-gradient-dark: radial-gradient(circle, #2e6930, #1f4a22);
$pill-bg-color: $primary;
$pill-container-bg-color: $light-green-bg;
$item-background-color-light: #EBEBEB;//#F8FCED;
$item-background-color-dark: #2D3339;
$secondary-background-dark-theme: #5F7D12;//#204620;
$secondary-background-light-theme: #BAE64C;
// Spacers
$spacer: 1rem !default;
$spacers: ( 
    0: 0, 
    1: $spacer * .25, 
    2: $spacer * .5, 
    3: $spacer, 
    4: $spacer * 1.5, 
    5: $spacer * 3, 
    6: $spacer * 4,
    7: $spacer * 6
) !default;

$nav-height-small: 60px;
$nav-height-large: 65px;


