@import 'colors';
@import 'theme-defaults';
@import 'typography';
@import '../../wwwroot/lib/bootstrap/scss/mixins';

// Custom containers
.wide-contents-container {
    @include make-container();
    @extend .hide-scrollbar;

    max-width: 1296px;
    margin-top: -1rem;
}

.list-container {
    @include make-container();
    @extend .hide-scrollbar;

    max-width: 1040px;
}
// Scrolling container with hidden scrollbar
.card-outer-container {
    @include make-container();
    @extend .card-style;
    @extend .hide-scrollbar;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 900px;
    max-height: 80vh;
    padding: $default-padding;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    box-shadow: var(--container-box-shadow);

    &:hover {
        box-shadow: var(--container-box-shadow-hover);
    }
}

// Container for shopping list details
.shopping-list-container {
    @include make-container();
    @extend .hide-scrollbar;

    max-width: 793px;
    padding: $default-padding;
    box-shadow: var(--container-box-shadow);

    &:hover {
        box-shadow: var(--container-box-shadow-hover);
    }
}

.contact-form-container {
    @include make-container();
    @extend .hide-scrollbar;

    max-width: 520px;
    padding: $default-padding;
    background: linear-gradient(180deg, rgba(180,227,61,1) 0%, rgba(46,105,48,1) 100%);
    box-shadow: var(--container-box-shadow);

    &:hover {
        box-shadow: var(--container-box-shadow-hover);
    }
}

.form-container {
    @include make-container();
    @extend .hide-scrollbar;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 100;
    overflow-y: auto;
    max-height: 75vh;
    max-width: 480px;
    padding: $default-padding;
    border: none;
    border-radius: $border-radius;
    text-align: center;
    background-color: var(--bs-body-bg);
    box-shadow: var(--container-box-shadow);

    &:hover {
        box-shadow: var(--container-box-shadow-hover);
    }
}

// Media queries for custom containers
@media (max-width: 900px) {
    .card-outer-container {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}
