@import 'colors';

// like icon styling
.liked-icon {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $icon-stroke-color;
}

.not-liked-icon {
    color: lightgray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $icon-stroke-color;

    &:hover {
        color: red;
    }
}

// owned recipe style
.fa-bookmark, .fa-user-plus {
    color: $yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $icon-stroke-color;
}

.fa-house {
    color: $success;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $icon-stroke-color;
}

.no, .yes {
    font-size: 1.2rem;
}

.finished, .no {
    color: $danger;
}

.not-finished, .yes {
    color: $primary;
}

.inactive {
    color: $light-grey;
}

.cooked-meal-icon i {
    color: $primary;
}

.not-cooked-meal-icon i {
    color: var(--bs-body-bg);
}

.deleted-meal-icon i,
.finished-cooked-meal-icon i,
.deleted-meal-icon i {
    color: $inactive-grey;
}

