@import 'colors';

// like icon styling
.liked-icon {
    color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: darkred;
}

.not-liked-icon {
    color: lightgray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $green-stroke-color; 

    &:hover {
        color: red;
    }
}

// owned recipe style
.fa-bookmark {
    color: $yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $yellow-stroke-color;
}

.finished {
    color: $danger;
}

.not-finished {
    color: $primary;
}

.inactive {
    color: $light-grey;
}

