@import 'colors';
@import 'theme-defaults';
@import 'pills';

.modal-dialog {
    position: fixed !important; // Override Bootstrap
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 2000;
    min-width: 480px;
    
    .modal-content {
        text-align: center;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        background: var(--bs-body-bg);
        transition: background 0.3s ease, color 0.3s ease;
        border-radius: $border-radius-small;

        .modal-header {
            position: relative;
            justify-content: center !important;
            border-bottom: none;

            .heading-container {
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                margin-bottom: -0.75rem;

                i {
                    font-size: 3.2rem;
                    margin-top: -1rem;
                }

                .warning {
                    color: var(--bs-warning);
                }

                .error {
                    color: $danger;
                }

                .modal-title {
                    margin-bottom: 0.25rem;
                    color: var(--bs-body-color);
                    font-size: 26px;
                    font-weight: bold;
                    font-family: $font-family-sans-serif;
                    text-transform: uppercase;
                }

                .heading-secondary {
                    margin-top: -10px;
                    margin-bottom: 0;
                    font-size: 1.6rem;
                }
            }

            .btn-close {
                position: absolute;
                top: 0;
                right: -7px;
                color: var(--bs-body-color);
            }
        }
        // Welcome modal custom settings
        .modal-welcome-header {

            .heading-container {
                margin-bottom: -2rem;

                .modal-logo {
                    width: 5rem;
                    margin-bottom: 0;
                    margin-top: -0.75rem;
                }

                .modal-title {
                    margin-bottom: 0;
                    font-size: 26px;
                    font-weight: normal;
                    text-transform: none;
                    line-height: 1.1;
                    color: var(--bs-body-color);
                }

                .modal-subheading {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: -10px;
                    margin-bottom: 0.5rem;
                    color: var(--accent-color);
                }
            }
        }

        .modal-body {
            text-align: center;
            font-size: 1.1rem;
            margin-top: 0;
            margin-bottom: 0.4rem;

            .welcome-user-guest-message {
                padding: 1.5rem 0.75rem 0.5rem 0.75rem;
                font-size: 20px;
            }

            .user-notification-message {
                font-size: 22px;
                margin-top: 0.5rem;
                padding: 1rem 0.5rem;
            }

            .stats-container {
                @extend .pills-container;
                padding: 1rem 0.5rem 1.5rem 0.5rem;
                gap: 0.5rem;

                .dates-container {
                    display: flex;
                    align-items: start;
                    justify-content: space-evenly;
                    flex: 1 0 100%;
                    flex-wrap: nowrap;
                    margin-bottom: 0.6rem;

                    .date-item {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: space-evenly;
                        gap: 0;
                        padding: 0.3rem 1rem;
                        background-color: var(--bs-body-bg);
                        color: var(--bs-body-color);
                        border-radius: $medium-border-radius;

                        .date-heading {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            gap: 8px;
                            font-size: 1.5rem;
                        }

                        .date-text {
                            font-size: 1.2rem;
                            margin-top: -0.4rem;
                        }
                    }
                }

                .stat-item {
                    @extend .pill-item;
                    padding: 0.7rem 1.4rem;

                    .stat-icon {
                        @extend .pill-icon;
                        width: 1.8rem;

                        i {
                            font-size: 1.8rem;
                        }
                    }

                    .stat-content {
                        @extend .pill-content;

                        span.stat-number {
                            @extend .pill-number;
                            font-size: 1rem;
                            margin-bottom: 2px;
                        }

                        .stat-text {
                            @extend .pill-text;
                            font-size: 0.9rem;
                            margin-bottom: 0;
                            margin-top: -2px;
                        }
                    }
                }
            }

            .add-meals-message {
                line-height: 1;
                margin-top: 0.5rem;
                margin-bottom: 0;
                color: var(--accent-color);
            }
        }

        .modal-footer {
            justify-content: center;
            border-top: none;
        }

        .modal-footer.two-buttons {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            flex-wrap: nowrap;

            .btn-container {
                width: 44%;
            }
        }
    }
}
