@import 'colors';

// Default light theme colors
:root {
    --bs-body-bg: #{$light-body-bg};
    --bs-body-color: #{$light-body-color};
    --background-gradient: #{$background-gradient-light};
    --accent-color: #{$accent-color};
    --pill-container-bg-color: #{$pill-container-bg-color};
    --pill-bg-color: #{$pill-bg-color};
    --modal-text-color: #{$very-dark-green};
    --link-color: var(--accent-color);
    --link-hover-color: #{$link-hover-color};
    --card-border-color: rgba(0, 0, 0, 0.1);
    --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --card-box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.2);
    --container-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.1);
    --container-box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15), 0 16px 32px rgba(0, 0, 0, 0.2);
    --filter-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    --filter-box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15), 0 12px 24px rgba(0, 0, 0, 0.1);
    --input-background: rgba(255, 255, 255, 0.2);
    --select-menu-filter-bg-color: #{$background-gradient-light};
    --input-color: $dark;
}

// Custom Light Theme settings
[data-bs-theme="light"] {

    .subheading {
        color: $primary;
    }

    .input-group {

        select, input, textarea {
            background-color: var(--bg-body-bg);
            color: var(--bs-body-color);

            &::placeholder {
                font-size: 16px;
                color: var(--bs-body-color) !important;
                opacity: 0.7;
            }
        }
    }

    .form-check-label {
        color: $primary !important;
    }

    .heading-tertiary {
        color: $primary;
    }

    .step-number {
        color: $success;
    }
}

// Custom Dark Theme settings
[data-bs-theme="dark"] {
    --bs-body-bg: #{$dark-body-bg};
    --bs-body-color: #{$dark-body-color};
    --accent-color: #{$success};
    --background-gradient: #{$background-gradient-dark};
    --text-color: $dark;
    --pill-bg-color: #{$success};
    --pill-container-bg-color: #{$medium-gray-bg};
    --modal-text-color: #{$very-light-green};
    --link-hover-color: #{$success-400};
    --card-border-color: #212529;
    --card-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    --card-box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.6);
    --container-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    --container-box-shadow-hover: 0 12px 24px rgba(0, 0, 0, 0.8);
    --filter-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(255, 255, 255, 0.1);
    --filter-box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.7), 0 12px 24px rgba(255, 255, 255, 0.15);
    --input-background: #4C8433;
    --select-menu-filter-bg-color: #4C8433;
    --input-color: $white;


    .subheading {
        color: $success;
    }

    .form-check-label {
        color: $success !important;
    }

    .form-check-input {
        background-color: $primary !important;
        color: $success !important;

        &:checked {
            color: $primary-400 !important;
            background-color: $success !important;
            border: 1px solid $light;
        }
    }

    .heading-tertiary {
        color: $light;
    }

    .step-number {
        color: $light;
        opacity: 0.7;
    }

    button.nav-link.active {
        color: $white !important;
    }

    .card-custom-style-with-back-btn {
        border: 1px solid $primary-400 !important;
    }

    span.input-group-text, input.form-control, textarea.form-control, .form-select {
        border: 1px solid $primary-400 !important;
    }

    .filter-container {
        span.input-group-text {
            border-color: transparent !important;
        }

        input, textarea, select {
            border-color: $primary !important;
        }

        .search-btn {
            background-color: $success !important;
            border-color: $primary !important;

            &:hover {
                color: var(--bs-body-bg) !important;
                background-color: $success-400 !important;
            }
        }
    }
    // External Login btns
    .external-login-button {
        color: $body-secondary-bg !important;
        background-color: $body-secondary-color !important;

        &:hover {
            border: 1px solid $success !important;
            transition: all 0.3s;
        }
    }
    // Custom links
    .custom-link {
        color: $success !important;
        text-decoration: underline;

        &:hover {
            color: $success-text-emphasis !important;
            cursor: pointer;
        }
    }
}
