@model ICollection<RecipeAllViewModel>

@{
    ViewBag.Title = "All Recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if(!Model.Any())
{
    <h2 class="text-center">No recipes yet!</h2>
} 
else
{
    <div class="row mb-5">
        <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
            @foreach(var recipe in Model)
            {
                <partial name="_RecipeAllPartial" model="@recipe" />
            }
        </div>
    </div>
}


