@model RecipeMineViewModel
@using CookTheWeek.Services.Data.Interfaces
@using CookTheWeek.Web.Infrastructure.Extensions
@inject IFavouriteRecipeService FavouriteRecipeService
@{
    ViewData["Title"] = "My Recipes";
    string ownedRecipeHeading = "Added By You";
    bool isAdmin = User.IsAdmin();
    string userId = User.GetId();

    var headingModel = new PageHeadingViewModel
        {
            Subheading = "My Recipes",
        };

    if (Model.FavouriteRecipes.Any())
    {
        headingModel.HeadingSecondary = "Liked by you";
    } else if (Model.OwnedRecipes.Any())
    {
        headingModel.HeadingSecondary = ownedRecipeHeading;
    }

    if(isAdmin)
    {
        headingModel.Subheading = "All Recipes";
        headingModel.HeadingSecondary = "Site Recipes";
    }
}

<div class="wide-contents-container">
    <div class="row">
        <div class="container pb-2">
            <div class="row">
                <partial name="_HeadingPartial" model="headingModel" />
            </div>
            @* // TODO: change apparance of "No recipes view" *@
            @if (!Model.FavouriteRecipes.Any() && !Model.OwnedRecipes.Any() && !isAdmin)
            {
                <div class="text-center">
                    <h2 class="text-center">You have no recipes yet!</h2>
                    <p>Ready to embark on your culinary journey? Start building your personalized meal plan now by exploring our All Recipes section and adding your favorite dishes with a simple click of 'Add to Meal Plan'. Let's create a week of unforgettable flavors together!</p>
                    <div class="button"><a class="btn btn-primary" asp-area="" asp-controller="Recipe" asp-action="All">Browse Recipes</a></div>
                </div>
            }
            else if (!Model.FavouriteRecipes.Any() && !Model.OwnedRecipes.Any() && isAdmin)
            {
                <div class="text-center">
                    <h2 class="text-center">No Recipes Yet!</h2>
                    <p>There are no added recipes, neither by an Admin, nor by users on the site!</p>
                    <div class="button"><a class="btn btn-primary" asp-area="" asp-controller="Recipe" asp-action="Add">Add Recipe</a></div>
                </div>
            }
            else
            {
                @if (!isAdmin)
                {               
                    @if (Model.FavouriteRecipes.Any())
                    {
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
                            @foreach (var recipe in Model.FavouriteRecipes)
                            {
                                <partial name="_RecipeCardPartial" model="recipe" />
                            }
                        </div>
                        @if (Model.OwnedRecipes.Any())
                        {
                            <div class="row">
                                <h2 class="heading-secondary">@ownedRecipeHeading</h2>
                            </div>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                                @foreach (var recipe in Model.OwnedRecipes)
                                {
                                    <partial name="_RecipeCardPartial" model="recipe" />
                                }
                            </div>
                        }
                    }
                    else if (Model.OwnedRecipes.Any())
                    {
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                            @foreach (var recipe in Model.OwnedRecipes)
                            {
                                <partial name="_RecipeCardPartial" model="recipe" />
                            }
                        </div>
                    }

                }
                else
                {
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                        @foreach (var recipe in Model.OwnedRecipes)
                        {
                            <partial name="_RecipeCardPartial" model="recipe" />
                        }
                    </div>
                }
                <partial name="_BuildBtnPartial" />
            }
        </div>
    </div>
</div>

@section Scripts {  
<script>
    // Like btn functionality
    function toggleFavourites(event, recipeId, userId) {
        event.preventDefault(); 
        event.stopPropagation();
        var $button = $(event.currentTarget);
        let url = 'https://localhost:7279/api/favouriteRecipe/toggleFavourites';

        var data = {
            RecipeId: recipeId,
            UserId: userId
        }

        $.ajax({
            url: url,
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
                success: function (response) {
                    // Handle success response

                    $button.find('i').toggleClass('liked-icon not-liked-icon');
                    var isLiked = $button.find('i').hasClass('liked-icon');
                    var newTitle = isLiked ? 'Remove from Favorites' : 'Add to Favorites';

                    $button.find('i').attr('title', newTitle)
                        .tooltip('dispose') // Dispose of the current tooltip
                        .tooltip();

                    toastr.success("Your preference is saved!");
                },
                error: function (xhr, status, error) {
                    // Handle error
                    if (xhr.status === 400) {
                        // Handle 400 Bad Request error
                        toastr.error('Bad Request: Please check your input and try again.');
                    } else {
                        // Display generic error message
                        toastr.error('Your preference not saved:', error);
                    }
                }
        });
    }
</script>
}




