@model RecipeMineViewModel
@inject IUserContext UserContext
@{
    ViewData["Title"] = "My Recipes";
    string ownedRecipeHeading = "Added By You";
    Guid userId = UserContext.UserId;


    var likedByYouHeading = new PageHeadingViewModel
        {
            Subheading = "My Recipes",
            HeadingSecondary = "Liked by you"
        };

    var addedByYouHeading = new PageHeadingViewModel();


    if (!Model.FavouriteRecipes.Any())
    {
        addedByYouHeading.Subheading = "My Recipes";

    } 
    addedByYouHeading.HeadingSecondary = ownedRecipeHeading;
       
}

<div class="wide-contents-container">
    <div class="row">
        <div class="container">                    
            @if (Model.FavouriteRecipes.Any())
            {
                <div class="row">
                    <partial name="_HeadingPartial" model="likedByYouHeading" />
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
                    @foreach (var recipe in Model.FavouriteRecipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>
                       
            }
            @if (Model.OwnedRecipes.Any())
            {
                <div class="row">
                    <partial name="_HeadingPartial" model="addedByYouHeading" />
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                    @foreach (var recipe in Model.OwnedRecipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>
            }                
            <partial name="_BuildBtnPartial" />            
        </div>
    </div>
</div>

@section Scripts {  
    <script src="~/js/recipeLikes.js"></script>
}




