@model RecipeMineViewModel
@using CookTheWeek.Services.Data.Interfaces
@using CookTheWeek.Web.Infrastructure.Extensions
@inject IFavouriteRecipeService FavouriteRecipeService
@{
    string ownedRecipeHeading = "Added By You";
    bool isAdmin = User.IsAdmin();
    string userId = User.GetId();

    if(isAdmin)
    {
        ownedRecipeHeading = "Site Recipes";
    }
}
@if (!Model.FavouriteRecipes.Any() && !Model.OwnedRecipes.Any())
{
    <div class="text-center">
        <h2 class="text-center">You have no recipes yet!</h2>
        <p>Ready to embark on your culinary journey? Start building your personalized meal plan now by exploring our All Recipes section and adding your favorite dishes with a simple click of 'Add to Meal Plan'. Let's create a week of unforgettable flavors together!</p>
        <div class="button"><a class="btn btn-primary" asp-area="" asp-controller="Recipe" asp-action="All">Browse Recipes</a></div>
    </div>
}
else
{
    <div class="container-xl" style="max-width: 1200px;">
        <div class="row">            
            <div class="container py-2">
            @if (!isAdmin)
            {
                <div class="row">
                    <h3 class="collection-heading">Your Favourite Recipes</h3>                    
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
                    @foreach (var recipe in Model.FavouriteRecipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>                        
            }
                <div class="row">
                    <h3 class="collection-heading">@ownedRecipeHeading</h3>                    
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4">
                    @foreach (var recipe in Model.OwnedRecipes)
                    {
                        <partial name="_RecipeCardPartial" model="recipe" />
                    }
                </div>
            </div>
        </div>
        <partial name="_BuildBtnPartial" />
    </div>

        // TODO: Implement horizontal scroll with hidden scrollbars and an arrow btn for each collection of recipes
        @* <div class="container d-flex flex-column gap-2" id="recipe-container">
        @if (!isAdmin)
        {
            <h2 class="collection-heading">Your Favourite Recipes</h2>
            <div id="favourite-recipes">
                <div class="row d-flex g-3 align-items-start p-1 flex-row flex-nowrap">
                    @{
                        foreach (var recipe in Model.FavouriteRecipes)
                        {
                            <partial name="_RecipeCardPartial" model="recipe"/>
                        }
                    }
                </div>
            </div>
        }

        <h2 class="collection-heading">@ownedRecipeHeading</h2>
        <div id="owned-recipes">
            <div class="row d-flex g-3 align-items-start p-1 no-wrap flex-row flex-nowrap">
                @foreach (var recipe in Model.OwnedRecipes)
                {
                   <partial name="_RecipeCardPartial" model="recipe"/>
                }
            </div>
        </div>
    </div> *@
}

@section Scripts {  
<script>
    // Like btn functionality
    function toggleFavourites(event, recipeId, userId) {
        event.preventDefault();
        var $button = $(event.currentTarget);
        let url = 'https://localhost:7279/api/favouriteRecipe/toggleFavourites';

        var data = {
            RecipeId: recipeId,
            UserId: userId
        }

        $.ajax({
            url: url,
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (response) {
                // Handle success response
                $button.find('i').toggleClass('liked-icon not-liked-icon');
                toastr.success("Your preference is saved!");
            },
            error: function (xhr, status, error) {
                // Handle error
                if (xhr.status === 400) {
                    // Handle 400 Bad Request error
                    toastr.error('Bad Request: Please check your input and try again.');
                } else {
                    // Display generic error message
                    toastr.error('Your preference not saved:', error);
                }
            }
        });
    }
</script>
}




