@{
    ViewData["Title"] = "No Recipes";
}

<div id="recipes-mine-none">
    <div class="form-container info-message text-center">

        <h1 class="mb-0 text-primary">Start now..</h1>
        <h6 class="text-uppercase mb-4">You have no Recipes yet</h6>
       
        <p class="stronger-message">
            Ready to embark on your culinary journey?
        </p>

        <p class="user-text">
            Explore our <a asp-area="" asp-controller="Recipe" asp-action="All" class="flex-nowrap custom-link">All Recipes</a> section and add the ones you like to your favourites
            or even add <strong>your own recipes</strong> to make your future meal plans truly unique and tailored to your taste.
        </p>
        
        <div class="buttons-two">
            <a class="browse-recipes-small-btn" asp-area="" asp-controller="Recipe" asp-action="All">All Recipes</a>
            <a class="add-recipe-button" asp-area="" asp-controller="Recipe" asp-action="Add">Add Recipe</a>
        </div>

    </div>
</div>
