.theme-switcher {
    padding-top: 33px;
    position: absolute;
    top: 30px;
    right: 5px;
}

@media (min-width: 992px) {
    .theme-switcher {
        padding-top: 33px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
