#theme-container {
    position: absolute;
    top: 65px;
    right: 12px;
    z-index: 100;
    

    .theme-switcher {
        position: relative;

        .btn-link {
            background-color: var(--bs-body-bg);
            color: white; 
            border-radius: 10px; 
            padding: 0 5px;
        }

        .dropdown-toggle {
            text-decoration: none;
        }
    }
}

@media (min-width: 992px) {
    #theme-container {
        right: 20px;
        top: 68px;
    }
}

@media (min-width: 1200px) {
    #theme-container {
        right: 40px;
        top: 70px;
    }
}
