@import '_variables';
:root {
    --meal-title-color: var(--bs-primary);
    --body-color: var(--bs-dark);
    --body-bg: var(--bs-light);
    --card-label-text-color: #121706;
    --btn-secondary-hover-color: #2a2e1f;

    body {
        position: relative;
        margin: 0 auto;
        background-color: var(--body-bg);

        #build-btn-container {
            position: fixed;
            bottom: 25px;
            right: 10px;
            z-index: 10000;
        }

        .subheading {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.65px;
            margin-bottom: 0.20rem;
        }

        .heading-secondary {
            font-family: "Libre Baskerville", serif;
            font-size: 2.0rem;
            line-height: 1.2;
            text-transform: capitalize;
            margin-bottom: 0.5rem;
        }

        .accent-heading {
            font-family: "Libre Baskerville", serif;
        }

        #pagination-buttons {
            bottom: 17px;
            right: 57px;
            z-index: 10000;
        }
    }
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    $link-decoration: none;

    body {

        a {
            text-decoration: none;
            color: var(--bs-primary);
        }

        input.form-control, textarea.form-control, .form-select {
            border: 1px solid var(--bs-primary);
            color: var(--bs-body-color);

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(180, 227, 61, 0.3);
            }

            &::placeholder {
                font-size: 15px;
                color: var(--bs-body-color);
                opacity: 0.7;
            }
        }

        .form-check-input {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);

            &:checked {
                color: var(--bs-body-color);
                background-color: var(--bs-primary);
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(180, 227, 61, 0.3);
            }
        }

        #main-container {
            margin: 0 auto;
            padding: 91px 12px;
            position: relative;
            min-height: 100vh;

            .pagination {
                gap: 5px;
            }

            .input-group {

                span.input-group-text {
                    font-size: 15px !important;
                    font-weight: 500;
                    background-color: var(--bs-primary);
                    color: var(--bs-white);
                    border: 1px solid var(--bs-primary);
                }
            }


            span.small.text-danger {
                display: block;
                text-align: start;
                font-size: 14px;
                margin-left: 3px;
            }

            .custom-link {
                color: var(--bs-primary) !important;
                text-decoration: underline;

                &:hover {
                    color: var(--bs-success) !important;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            // Headings

            .heading-container {
                margin-left: 2px;
            }

            .subheading {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.65px;
                margin-bottom: 0.10rem;
            }

            .heading-secondary {
                font-family: "Libre Baskerville", serif;
                font-size: 2.0rem;
                line-height: 1.2;
                text-transform: capitalize;
                margin-bottom: 1rem;
            }

            .accent-heading {
                font-family: "Libre Baskerville", serif;
            }
        }
        
        footer {
            position: relative;
            z-index: 5000;
            font-weight: 300;
            font-size: 13px;

            #links-container {
                flex-direction: column;

                .footer-padding {
                    padding: 1rem;
                }

                .footer-border {
                    border: none;
                }

                a {
                    text-decoration: none;
                    color: var(--bs-white);
                    cursor: pointer;

                    &:hover {
                        color: var(--bs-light) !important;
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}

@media (min-width: 631px) {

    footer {

        #links-container {
            flex-direction: row !important;

            .footer-border {
                border-right: 1px solid var(--bs-white) !important;
            }

            .footer-padding {
                padding: 0 1rem !important;
            }

            
        }
    }

    .fixed-footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
    }
        
    
}


@media (min-width: 768px) {
    html {
        font-size: 16px !important;

        body {
            #main-container {
                padding: 98px 20px !important;

                span.input-group-text {
                    font-size: 16px !important;
                }

                
            }
        }
    }
}

@media (min-width: 887px) {
    footer {
        font-size: 14px;

        #links-container {
            flex-direction: row !important;

            .footer-padding {
                padding: 0 2rem !important;
            }
        }
    }
}

@media (min-width: 992px) {
    #pagination-buttons {
        bottom: 18px !important;
        right: 93px !important;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px !important;

        body {
            #main-container {
                padding: 98px 40px !important;
            }
        }
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

    

