:root {
    --meal-title-color: var(--bs-primary);
    --body-bg: var(--bs-white);
    --body-color: var(--bs-dark);
        
        body {
        position: relative;
        margin: 0 auto;

        #build-btn-container {
            position: fixed;
            bottom: 39px;
            right: 7px;
            z-index: 10000;
        }
    }
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    $link-decoration: none;

    body {

        #main-container {
            margin: 0 auto;
            padding: 91px 12px;            

            #add-recipe, #edit-recipe {
                max-width: 1000px;

                .suggestionsList {
                    position: absolute;
                    z-index: 1000;
                    top: 29px;
                    left: 100px;
                    border-top: none;
                    max-height: 200px;
                    overflow-y: auto;
                }
            }

            a {
                text-decoration: none;
            }

            .custom-link {
                color: var(--bs-primary);
                text-decoration: none;
            }

            .custom-link:hover {
                color: var(--bs-primary);
                text-decoration: underline;
            }

            .accent-heading {
                font-family: "Libre Baskerville", serif;
            }
        }

        footer {
            font-size: 14px;
            font-weight: 300;
        }
        
        nav.fixed-bottom {
            padding-bottom: 30px;
        }
    }
}
@media (min-width: 992px) {
    #build-btn-container {
        bottom: 45px !important;
        right: 42px !important;
    }
}
@media (min-width: 769px) {
    #build-btn-container {
        bottom: 45px;
        right: 13px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;

        body {
            #main-container {
                padding: 98px 20px;
            }
        }
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;

        body {
            #main-container {
                padding: 98px 40px;
            }
        }
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

    

