:root {
    --meal-title-color: var(--bs-primary);
    --body-color: var(--bs-dark);
    --body-bg: var(--bs-light);
    --card-label-text-color: #121706;
    --btn-secondary-hover-color: #2a2e1f;
    
    body {
        position: relative;
        margin: 0 auto;
        background-color: var(--body-bg);

        #build-btn-container {
            position: fixed;
            bottom: 25px;
            right: 10px;
            z-index: 10000;
        }

        .subheading {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.65px;
            margin-bottom: 0.20rem;
        }

        .heading-secondary {
            font-family: "Libre Baskerville", serif;
            font-size: 2.0rem;
            line-height: 1.2;
            text-transform: capitalize;
            margin-bottom: 1.4rem;
        }

        .accent-heading {
            font-family: "Libre Baskerville", serif;
        }
    }
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    $link-decoration: none;

    body {

        a {
            text-decoration: none;
            color: var(--bs-primary);
        }
       
        input.form-control, textarea.form-control, .form-select {
            border: 1px solid var(--bs-primary);
            color: var(--bs-body-color);

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(180, 227, 61, 0.3);
            }

            &::placeholder {
                font-size: 15px;
                color: var(--bs-body-color);
                opacity: 0.7;
            }
        }

        .form-check-input {
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);

            &:checked {
                color: var(--bs-body-color);
                background-color: var(--bs-primary);
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(180, 227, 61, 0.3);
            }
        }

        #main-container {
            margin: 0 auto;
            padding: 91px 12px;
            position: relative;

            .pagination {
                gap: 5px;
            }

            .input-group {

                span.input-group-text {
                    font-size: 15px !important;
                    font-weight: 500;
                    background-color: var(--bs-primary);
                    color: var(--bs-white);
                    border: 1px solid var(--bs-primary); 
                }                
            }

            span.text-danger {
                display: block;
                font-size: 14px;
                margin-left: 3px;
            }

            .custom-link {
                color: var(--bs-primary);
                text-decoration: none;

                &:hover {
                    color: var(--bs-success);
                    text-decoration: underline;
                }
            }
            
            // Headings

            .heading-container {
                margin-left: 2px;
            }

            .subheading {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 0.65px;
                margin-bottom: 0.20rem;
            }

            .heading-secondary {
                font-family: "Libre Baskerville", serif;
                font-size: 2.0rem;
                line-height: 1.2;
                text-transform: capitalize;
                margin-bottom: 1.4rem;
            }

            .accent-heading {
                font-family: "Libre Baskerville", serif;
            }
        }

        footer {
            font-size: 14px;
            font-weight: 300;
        }

        nav.fixed-bottom {
            padding-bottom: 18px;
        }
    }
}


@media (min-width: 768px) {
    html {
        font-size: 16px !important;

        body {
            #main-container {
                padding: 98px 20px !important;

                span.input-group-text {
                    font-size: 16px!important;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px !important;

        body {
            #main-container {
                padding: 98px 40px !important;
            }
        }
    }
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

    

