// Overrifing Default Bootstrap colors
$primary: #2e6930;
$secondary: #f8b324;
$success: #B4E33D;
$info: #82a583;
$warning: #ffc107;
$danger: #DA0505;
$light: #FBE2B4;
$dark: #373b3e;

// Custom color variables
$breakfast-yellow: #FFEB3B;
$soup-orange: #FFA500;
$dessert-pink: #FF69B4;
$main-dish-red: #B22222;


$very-dark-green-text-color: #121706;

$input-form-span-bg-dark-green-color: #485b18;
$very-light-green-text-color: #f8fcec;

$yellowish-gradient-left-color: #bce650;
$greenish-gradient-right-color: #7e9f2b;


$theme-colors: ( 
    "primary":$primary, 
    "secondary": $secondary, 
    "success": $success, 
    "info": $info, 
    "warning": $warning, 
    "danger": $danger, 
    "light": $light, 
    "dark": $dark, 
    "breakfast-yellow": $breakfast-yellow, 
    "soup-orange": $soup-orange, 
    "appetizer-green": $success, 
    "salad-green": $primary, 
    "dessert-pink": $dessert-pink, 
    "main-dish-red": $main-dish-red,
);

// Change predefined BS colors:
$navbar-light-color: $primary;
$navbar-hover-color: $success;

$nav-link-color: $success;
$nav-link-hover-color: #ffffff;

$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $success;

$dropdown-link-active-bg: $primary;
$dropdown-link-active-color: #ffffff;

$dropdown-dark-color: #ffffff;
$dropdown-dark-link-color: #ffffff;
$dropdown-dark-link-hover-color: $success;

$card-cap-bg: var(--bs-primary);
$card-cap-color: var(--bs-success);
$card-bg: var(--bs-body-bg);
$nav-tabs-link-active-color: var(--bs-primary);
$nav-tabs-link-hover-color: var(--bs-primary);