@import 'variables';

#about-container {
    .row {
        margin-bottom: 3rem;

        .text-container {

            p {
                margin-bottom: 1.5rem;
                line-height: 1.8;
                font-weight: 400;
            }

            p:first-child {
                text-indent: 2rem;
            }
        }

        .rows-container {
            gap: 1rem;
        }

        div.row {
            margin-bottom: 1rem;
        }

        .contact-form {
            max-width: 120rem;
            margin: 0 auto;
            padding: 2rem 3.2rem;
            color: $very-dark-green-text-color;
            box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
            background-image: linear-gradient(to right bottom, $yellowish-gradient-left-color, $greenish-gradient-right-color);
            overflow: hidden;

            .heading-secondary {
                margin-bottom: 1rem;
            }

            .contact-form-text {
                padding-bottom: 0.8rem;
            }

            .btn-row {
                padding-top: 1.2rem;

                button {
                    color: $very-dark-green-text-color;
                    padding: 0.6rem 3.2rem;
                    font-size: 18px;
                }
            }
        }
    }

    .thank-message-row {
        margin-bottom: 3rem;
        margin-top: 2rem;

        .message-container {
            padding: 2rem 3rem;
            border: 1px solid var(--bs-primary);
            background-color: var(--bs-body-bg);
            color: var(--bs-body-color);

            .quote {
                font-size: 1.5em;
                font-style: italic;
                margin-bottom: 10px;
            }

            .author {
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .thank-message {
                font-size: 1em;
            }
        }
    }

    .spacer {
        margin-bottom: 4.2rem;
    }
}

@media (max-width: 768px) {
    #about-container {
        
        .contact-form {
            .first-row {
                margin-bottom: 1rem !important;
            }
        }
    }
}

@media (max-width: 568px) {
    #about-container {

        .row {

            .image-row {
                margin-bottom: 1rem !important;
            }


            .contact-form {
                padding: 2.4rem 1.2rem !important;

                .heading-secondary {
                    font-size: 1.8rem;
                }
            }
        }

        .spacer {
            margin-bottom: 2.2rem;
        }

        button {
            width: 100%;
            margin-bottom: 2.5rem;
        }
    }
}

