#about-container .row {
  margin-bottom: 3rem;
}
#about-container .row .text-container p {
  margin-bottom: 1.5rem;
  line-height: 1.8;
  font-weight: 400;
}
#about-container .row .text-container p:first-child {
  text-indent: 2rem;
}
#about-container .row .rows-container {
  gap: 1rem;
}
#about-container .row div.row {
  margin-bottom: 1rem;
}
#about-container .thank-message-row {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
#about-container .thank-message-row .message-container {
  padding: 2rem 3rem;
  border: 1px solid var(--bs-primary);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}
#about-container .thank-message-row .message-container .quote {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 10px;
}
#about-container .thank-message-row .message-container .author {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
#about-container .thank-message-row .message-container .thank-message {
  font-size: 1em;
}
#about-container .spacer {
  margin-bottom: 4.2rem;
}

@media (max-width: 768px) {
  #about-container .contact-form .first-row {
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 568px) {
  #about-container .row .image-row {
    margin-bottom: 1rem !important;
  }
  #about-container .row .contact-form {
    padding: 2.4rem 1.2rem !important;
  }
  #about-container .row .contact-form .heading-secondary {
    font-size: 1.8rem;
  }
  #about-container .spacer {
    margin-bottom: 2.2rem;
  }
  #about-container button {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
