#about-container {
    max-width: 940px !important;
    
    .row {
        margin-bottom: 2rem;

        div {
            margin-bottom: 1rem;
        }
    }
}

@media (max-width: 768px) {
    #about-container {

        .row {
            margin-bottom: 1rem;

            div {
                margin-bottom: 0.5rem;
            }
        }
    }
}












