#admin-container {
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 53px;
        margin: 40px 0 20px; /* Combine margin shorthand */
    }

    p.admin-msg {
        text-align: center;
        margin-bottom: 60px;
    }

    .card {
        border-color: var(--bs-primary);

        .card-body {
            padding: 25px 8px;

            .big-number {
                font-size: 52px;
            }

            .card-links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                flex-wrap: wrap;

                a {
                    border-radius: 5px;
                    padding: 2px 16px 4px;
                    text-decoration: none;
                    color: var(--bs-backdrop-bg);
                    border: 1px solid var(--bs-primary);
                    white-space: nowrap;
                }

                a:hover {
                    color: var(--bs-light-text-emphasis);
                    background-color: var(--bs-primary);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #admin-container {
        max-width: 1200px;
        padding: 60px;
    }
}

@media only screen and (max-width: 1020px) {
    #admin-container {
        .card-links {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 0.5rem;
        }

        a {
            width: 90%;
            height: 2rem;
        }
    }
}

