#main-container {
    #category {
        max-width: 600px !important;
        padding: 2rem;

        .btn {
            text-transform: uppercase;
            padding: 1rem;
            margin: 1rem;
        }
    }
}
