html {
    // reset all btns
    .btn {
        border: none;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease-in;

        &:hover {
            border: none;
        }
    }
    // align single icon centrally in a btn
    .btn-icon-only {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;

        i.fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


    .nav-btn, .nav-dropdown-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn:hover {
        background-color: var(--bs-primary) !important;
        color: var(--bs-white) !important;
        border-color: var(--bs-dark) !important;
        transition: 0.5s;
    }

    #main-container {
        // all recipes view: search btn
        .search-btn {
            border: 1px solid var(--bs-primary) !important;
            font-weight: bolder;
            color: var(--bs-success) !important;

            &:hover {
                border: 1px solid var(--bs-primary) !important;
            }
        }
        // card btns style, spacing and size
        .card-btn-width {
            font-size: 1.4rem;
            display: inline-block;
            width: 9rem;
            padding: 0.8rem, 1.2rem;
        }
        // dark green btn for main site functionality
        .btn-primary {
            color: var(--bs-white);
            border: 1px solid var(--bs-primary);

            &:hover {
                color: var(--bs-primary);
                background-color: var(--bs-white);
                border: 1px solid var(--bs-primary);
            }
        }
        // light-green btn
        .btn-secondary {
            color: var(--bs-primary);
            background-color: var(--bs-success);
            border: 1px solid var(--bs-success);

            &:hover {
                color: var(--bs-success);
                background-color: var(--bs-primary);
                border: 1px solid var(--bs-primary);
            }
        }
        // remove btns style on hover
        .btn-danger {

            border: 1px solid var(--bs-danger);

            &:hover {
                color: var(--bs-danger);
                background-color: var(--bs-light);
                border: 1px solid var(--bs-light);
            }
        }

        .btn-light {
            border: 1px solid var(--bs-light);
        }

        .btn-outline-danger {
            border: 1px solid var(--bs-danger);

            &:hover {
                border: 1px solid var(--bs-danger);
            }
        }

        #build-btn-container {
            .btn-build {
                background-color: var(--bs-primary);
                border: 2px solid var(--bs-primary);

                &:hover {
                    .fa {
                        color: var(--bs-success) !important;
                    }

                    background-color: var(--bs-body-bg);
                    border: 2px solid var(--bs-primary);
                }
            }
        }

        .fixed-size-btn {
            height: 40px;
            width: 44px;
            font-size: 22px;
        }

        .remove-btn-size {
            height: 36px;
            width: 36px;
            font-size: 24px;
        }

        .back-button {
            color: var(--bs-success);

            &:hover {
                background-color: var(--bs-primary);
                border: none;
                color: var(--bs-body-bg);
            }
        }
        // modal window close (X) btn
        .btn.close {
            color: var(--bs-success);

            &:hover {
                color: var(--bs-white);
            }
        }

        .external-login-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            padding: 8px;
            background-color: #f8f9fa; /* Light background for the button */

            border: 1px solid #ddd;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s, border-color 0.3s;

            &:active {
                background-color: #d6d8db;
            }

            &:hover {
                border: 1px solid var(--bs-body-color);
            }

            .external-login-icon {
                width: 20px;
                height: 20px;
                vertical-align: middle;
            }

            img {
                margin-right: 8px;
            }
        }

    }
}

@media (min-width: 992px) {
    #build-btn-container {
        bottom: 26px !important;
        right: 43px !important;
    }
}

@media (min-width: 769px) {
    #build-btn-container {
        bottom: 45px;
        right: 13px;
    }
}