html .btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
html .btn-primary, html .signup-button, html .browse-recipes-btn, html .shopping-list-btn {
  border: 1px solid var(--bs-primary);
  background-color: var(--bs-primary);
  color: var(--bs-body-bg);
}
html .btn-primary:hover, html .signup-button:hover, html .browse-recipes-btn:hover, html .shopping-list-btn:hover {
  border: 1px solid var(--bs-primary);
  color: var(--bs-primary);
  background-color: var(--bs-body-bg);
}
html .btn-secondary, html .edit-button, html .copy-mealplan-button, html .save-button, html .add-recipe-button {
  border: 1px solid var(--bs-success);
  color: var(--bs-primary);
  background-color: var(--bs-success);
}
html .btn-secondary:hover, html .edit-button:hover, html .copy-mealplan-button:hover, html .save-button:hover, html .add-recipe-button:hover {
  border: 1px solid var(--bs-primary);
  color: var(--bs-success);
  background-color: var(--bs-primary);
}
html .btn-danger, html .delete-button {
  border: 1px solid var(--bs-danger);
  color: var(--bs-white);
  background-color: var(--bs-danger);
}
html .btn-danger:hover, html .delete-button:hover {
  border: 1px solid var(--bs-light);
  color: var(--bs-danger);
  background-color: var(--bs-light);
}
html .btn-light, html .learnmore-button {
  color: var(--bs-dark);
  background-color: var(--bs-light);
  border: 1px solid var(--bs-light);
}
html .btn-light:hover, html .learnmore-button:hover {
  color: var(--bs-light);
  background-color: var(--bs-dark);
  border: 1px solid var(--bs-dark);
}
html .disabled {
  opacity: 0.6 !important;
}
html .fixed-size-btn, html #main-container .card-back-button, html #main-container .btn-build, html #main-container .pagination-btn, html .cook-meal-button, html .back-button-main, html .download-btn {
  height: 40px;
  width: 44px;
  font-size: 22px;
}
html .remove-btn-size, html .remove-item-button {
  height: 36px;
  width: 36px;
  font-size: 24px;
}
html .card-btn-width, html .signup-button, html .learnmore-button, html .delete-button, html .edit-button, html .copy-mealplan-button, html .save-button, html .add-recipe-button, html .browse-recipes-btn, html .shopping-list-btn {
  width: 9rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
html .back-button-main, html .download-btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--bs-body-bg);
  border-radius: 2px;
}
html .back-button-main i, html .back-button-main .fa, html .back-button-main .fas, html .download-btn i, html .download-btn .fa, html .download-btn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-primary);
  z-index: 1;
}
html .back-button-main::before, html .download-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-body-bg);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html .back-button-main:hover, html .download-btn:hover {
  border: 1px solid var(--bs-primary);
  border-radius: 2px;
}
html .back-button-main:hover i, html .back-button-main:hover .fa, html .back-button-main:hover .fas, html .download-btn:hover i, html .download-btn:hover .fa, html .download-btn:hover .fas {
  color: var(--bs-body-bg);
}
html .back-button-main:hover::before, html .download-btn:hover::before {
  background-color: var(--bs-primary);
}
html .back-button-main:hover, html .download-btn:hover {
  border: 1px solid var(--bs-primary);
}
html .plus {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--bs-primary);
  border-radius: 2px;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
html .plus i, html .plus .fa, html .plus .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
html .plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html .plus:hover {
  border: 2px solid #fff;
  border-radius: 2px;
}
html .plus:hover i, html .plus:hover .fa, html .plus:hover .fas {
  color: var(--bs-primary);
}
html .plus:hover::before {
  background-color: #fff;
}
html .plus:hover {
  box-shadow: none;
}
html .plus:hover {
  border: 2px solid var(--bs-primary);
}
html .cook-meal-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--bs-primary);
  border-radius: 2px;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
html .cook-meal-button i, html .cook-meal-button .fa, html .cook-meal-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
html .cook-meal-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html .cook-meal-button:hover {
  border: 2px solid #fff;
  border-radius: 2px;
}
html .cook-meal-button:hover i, html .cook-meal-button:hover .fa, html .cook-meal-button:hover .fas {
  color: var(--bs-primary);
}
html .cook-meal-button:hover::before {
  background-color: #fff;
}
html .cook-meal-button:hover {
  box-shadow: none;
}
html .cook-meal-button:hover {
  border: 2px solid var(--bs-primary);
}
html .minus, html .remove-item-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--bs-danger);
  border-radius: 2px;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
html .minus i, html .remove-item-button i, html .minus .fa, html .remove-item-button .fa, html .minus .fas, html .remove-item-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}
html .minus::before, html .remove-item-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-danger);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html .minus:hover, html .remove-item-button:hover {
  border: 2px solid #fff;
  border-radius: 2px;
}
html .minus:hover i, html .remove-item-button:hover i, html .minus:hover .fa, html .remove-item-button:hover .fa, html .minus:hover .fas, html .remove-item-button:hover .fas {
  color: var(--bs-danger);
}
html .minus:hover::before, html .remove-item-button:hover::before {
  background-color: #fff;
}
html .minus:hover, html .remove-item-button:hover {
  box-shadow: none;
}
html .minus:hover, html .remove-item-button:hover {
  border: 2px solid var(--bs-danger);
}
html .nav-btn, html .nav-dropdown-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
html .nav-btn:hover {
  color: var(--bs-white) !important;
  border-color: var(--bs-dark) !important;
  background-color: var(--bs-primary) !important;
  transition: background-color 0.3s ease;
}
html .browse-recipes-btn, html .shopping-list-btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .edit-button, html .copy-mealplan-button, html .save-button, html .add-recipe-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .add-recipe-button {
  width: 10rem;
}
html .delete-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .signup-button, html .learnmore-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem !important;
}
html #main-container .search-btn {
  border: 1px solid var(--bs-primary) !important;
  font-weight: bolder;
  color: var(--bs-success) !important;
}
html #main-container .search-btn:hover {
  border: 1px solid var(--bs-primary) !important;
}
html #main-container .btn-outline-danger {
  border: 1px solid var(--bs-danger);
}
html #main-container .btn-outline-danger:hover {
  border: 1px solid var(--bs-danger);
}
html #main-container .btn-outline-primary {
  border: 1px solid var(--bs-primary);
}
html #main-container .btn-outline-primary:hover {
  border: 1px solid var(--bs-primary);
}
html #main-container .pagination-btn {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--bs-primary);
  border-radius: 2px;
  border: 1px solid var(--bs-primary) !important;
}
html #main-container .pagination-btn i, html #main-container .pagination-btn .fa, html #main-container .pagination-btn .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-body-bg);
  z-index: 1;
}
html #main-container .pagination-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html #main-container .pagination-btn:hover {
  border: 1px solid var(--bs-body-bg);
  border-radius: 2px;
}
html #main-container .pagination-btn:hover i, html #main-container .pagination-btn:hover .fa, html #main-container .pagination-btn:hover .fas {
  color: var(--bs-primary);
}
html #main-container .pagination-btn:hover::before {
  background-color: var(--bs-body-bg);
}
html #main-container .btn-build {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid var(--bs-body-bg);
  border-radius: 2px;
  border: 2px solid var(--bs-primary) !important;
}
html #main-container .btn-build i, html #main-container .btn-build .fa, html #main-container .btn-build .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-primary);
  z-index: 1;
}
html #main-container .btn-build::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-body-bg);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html #main-container .btn-build:hover {
  border: 2px solid var(--bs-primary);
  border-radius: 2px;
}
html #main-container .btn-build:hover i, html #main-container .btn-build:hover .fa, html #main-container .btn-build:hover .fas {
  color: var(--bs-body-bg);
}
html #main-container .btn-build:hover::before {
  background-color: var(--bs-primary);
}
html #main-container .card-back-button {
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 0px solid var(--bs-primary);
  border-radius: 2px;
}
html #main-container .card-back-button i, html #main-container .card-back-button .fa, html #main-container .card-back-button .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--bs-success);
  z-index: 1;
}
html #main-container .card-back-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: var(--bs-primary);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
html #main-container .card-back-button:hover {
  border: 0px solid var(--bs-success);
  border-radius: 2px;
}
html #main-container .card-back-button:hover i, html #main-container .card-back-button:hover .fa, html #main-container .card-back-button:hover .fas {
  color: var(--bs-primary);
}
html #main-container .card-back-button:hover::before {
  background-color: var(--bs-success);
}
html #main-container .btn.close {
  color: var(--bs-success);
}
html #main-container .btn.close:hover {
  color: var(--bs-white);
}
html #main-container .external-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  background-color: #f8f9fa;
  transition: background-color 0.3s, border-color 0.3s;
}
html #main-container .external-login-button:active {
  background-color: #d6d8db;
}
html #main-container .external-login-button:hover {
  border: 1px solid var(--bs-body-color);
}
html #main-container .external-login-button .external-login-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
html #main-container .external-login-button img {
  margin-right: 8px;
}

@media (min-width: 992px) {
  #build-btn-container {
    position: fixed;
    right: 20px !important;
    bottom: 10px !important;
  }
}
