html {
    // reset all btns
    .btn {
        border: none;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease-in;

        &:hover {
            border: none;
        }
    }
    // align single icon centrally in a btn
    .btn-icon-only {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;

        i.fa {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }


    .nav-btn, .nav-dropdown-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn:hover {
        background-color: var(--bs-primary) !important;
        color: var(--bs-white) !important;
        border-color: var(--bs-dark) !important;
        transition: 0.5s;
    }

    #main-container {
        // all recipes view: search btn
        .search-btn {
            border: 1px solid var(--bs-primary) !important;
            font-weight: bolder;
            color: var(--bs-success) !important;

            &:hover {
                border: 1px solid var(--bs-primary) !important;
            }
        }
        // card btns style, spacing and size
        .card-btn-width {
            font-size: 1.4rem;
            display: inline-block;
            width: 9rem;
            padding: 0.8rem, 1.2rem;
        }
        // dark green btn for main site functionality
        .btn-primary {
            color: var(--bs-white);
            border: 1px solid var(--bs-primary);

            &:hover {
                background-color: var(--bs-white);
                color: var(--bs-primary);
                border: 1px solid var(--bs-primary);
            }
        }
        // light-green btn
        .btn-secondary {
            color: var(--bs-primary);
            background-color: var(--bs-success);

            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-success);
            }
        }
        // remove btns style on hover
        .btn-danger {
            border: 1px solid var(--input-form-span-bg-dark-green-color);

            &:hover {
                color: var(--bs-danger);
                background-color: var(--bs-light);
            }
        }

        .btn-outline-danger {
            border: 1px solid var(--bs-danger);

            &:hover {
                border: 1px solid var(--bs-danger);
            }
        }

        #build-btn-container {
            .btn-build {
                background-color: var(--bs-primary);
                border: 2px solid var(--bs-primary);

                &:hover {
                    .fa {
                        color: var(--bs-success) !important;
                    }

                    background-color: var(--bs-body-bg);
                    border: 2px solid var(--bs-primary);
                }
            }
        }

        .fixed-size-btn {
            height: 40px;
            width: 44px;
            font-size: 22px;
        }

        .remove-btn-size {
            height: 36px;
            width: 36px;
            font-size: 24px;
        }

        .back-button {
            color: var(--bs-success);

            &:hover {
                background-color: var(--bs-primary);
                border: none;
                color: var(--bs-body-bg);
            }
        }
        // modal window close (X) btn
        .btn.close {
            color: var(--bs-success);

            &:hover {
                color: var(--bs-white);
            }
        }
        // Google Sign-in Btn:
        .gsi-material-button {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -webkit-appearance: none;
            background-color: #f2f2f2;
            background-image: none;
            border: none;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #1f1f1f;
            cursor: pointer;
            font-family: 'Roboto', arial, sans-serif;
            font-size: 14px;
            height: 40px;
            letter-spacing: 0.25px;
            outline: none;
            overflow: hidden;
            padding: 0 12px;
            position: relative;
            text-align: center;
            -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
            transition: background-color .218s, border-color .218s, box-shadow .218s;
            vertical-align: middle;
            white-space: nowrap;
            width: auto;
            max-width: 400px;
            min-width: min-content;
        }

        .gsi-material-button .gsi-material-button-icon {
            height: 20px;
            margin-right: 12px;
            min-width: 20px;
            width: 20px;
        }

        .gsi-material-button .gsi-material-button-content-wrapper {
            -webkit-align-items: center;
            align-items: center;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            height: 100%;
            justify-content: space-between;
            position: relative;
            width: 100%;
        }

        .gsi-material-button .gsi-material-button-contents {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            font-family: 'Roboto', arial, sans-serif;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
        }

        .gsi-material-button .gsi-material-button-state {
            -webkit-transition: opacity .218s;
            transition: opacity .218s;
            bottom: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
        }

        .gsi-material-button:disabled {
            cursor: default;
            background-color: #ffffff61;
        }

        .gsi-material-button:disabled .gsi-material-button-state {
            background-color: #1f1f1f1f;
        }

        .gsi-material-button:disabled .gsi-material-button-contents {
            opacity: 38%;
        }

        .gsi-material-button:disabled .gsi-material-button-icon {
            opacity: 38%;
        }

        .gsi-material-button:not(:disabled):active .gsi-material-button-state,
        .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
            background-color: #001d35;
            opacity: 12%;
        }

        .gsi-material-button:not(:disabled):hover {
            -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
        }

        .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
            background-color: #001d35;
            opacity: 8%;
        }
    }
}

@media (min-width: 992px) {
    #build-btn-container {
        bottom: 26px !important;
        right: 43px !important;
    }
}

@media (min-width: 769px) {
    #build-btn-container {
        bottom: 45px;
        right: 13px;
    }
}