#contact-us {
    color: #170d03 !important;

    form {


        .form-control,
        .form-group label {
            background-color: transparent;
        }

        .form-select {
            background-color: transparent;
            appearance: none; /* Remove default styling in some browsers */
        }

        .form-control, .form-select {
            color: #170d03;
            border: 2px solid var(--bs-success);

            &::placeholder {
                color: #070D05;
            }
        }

        .form-select option {
            background-color: transparent;
            color: #170d03;

            &:hover {
                background-color: var(--bs-success);
            }
        }
    }
}
