#cookieConsent {
    position: fixed;
    bottom: 2px;
    margin-bottom: 0;
    left: 2px;
    min-width: 360px;
    width: 30%;
    z-index: 9999;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border: 1px solid var(--bs-primary);    
    
}
