#recipe-details-container, #meal-cook-container {
  margin: 0 auto;
  position: relative;
}
#recipe-details-container .card .card-header li.nav-item span, #meal-cook-container .card .card-header li.nav-item span {
  color: var(--bs-success-text-emphasis);
}
#recipe-details-container .card .card-header li.nav-item span:hover, #meal-cook-container .card .card-header li.nav-item span:hover {
  color: var(--bs-primary);
}
#recipe-details-container .card .card-header .back-button, #meal-cook-container .card .card-header .back-button {
  position: absolute;
  top: 4px;
  right: 8px;
  z-index: 15;
}
#recipe-details-container .card .card-body .recipe-title, #recipe-details-container .card .card-body .meal-title, #meal-cook-container .card .card-body .recipe-title, #meal-cook-container .card .card-body .meal-title {
  font-family: "Libre Baskerville", serif;
}
#recipe-details-container .card .card-body .img-container, #meal-cook-container .card .card-body .img-container {
  max-width: 600px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#recipe-details-container .card .card-body .img-container .image, #meal-cook-container .card .card-body .img-container .image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#recipe-details-container .card .card-body .img-container .image:hover, #meal-cook-container .card .card-body .img-container .image:hover {
  transform: scale(1.03);
}
#recipe-details-container .card .card-body .img-container .add-to-favourites-button .liked-icon, #recipe-details-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon, #meal-cook-container .card .card-body .img-container .add-to-favourites-button .liked-icon, #meal-cook-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 28px;
}
#recipe-details-container .card .card-body .img-container .fa-tag, #meal-cook-container .card .card-body .img-container .fa-tag {
  position: absolute;
  top: 12px;
  left: 23px;
  font-size: 40px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container, #meal-cook-container .card .card-body .img-container .add-to-mealplan-container {
  display: inline-block; /* Ensure the container wraps around its contents */
  position: absolute;
  bottom: 5px;
  right: 20px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button, #meal-cook-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
#recipe-details-container .card .card-body .recipe-description, #recipe-details-container .card .card-body .meal-description, #meal-cook-container .card .card-body .recipe-description, #meal-cook-container .card .card-body .meal-description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
}
#recipe-details-container .card .card-body .ingredient-heading, #meal-cook-container .card .card-body .ingredient-heading {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
}
#recipe-details-container .card .card-body .units-styler, #meal-cook-container .card .card-body .units-styler {
  font-weight: 300;
}
#recipe-details-container .card .card-body #instructions .step-number, #meal-cook-container .card .card-body #instructions .step-number {
  width: 35px;
  height: 35px;
  background-color: var(--bs-primary);
  border-radius: 8px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: #fff;
}
#recipe-details-container .card .card-footer .card-btn, #meal-cook-container .card .card-footer .card-btn {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  #recipe-details-container .fixed-size-btn, #meal-cook-container .fixed-size-btn {
    height: 34px;
    width: 42px;
  }
  #recipe-details-container .back-button, #meal-cook-container .back-button {
    top: 2px;
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  #recipe-details-container, #meal-cook-container {
    max-width: 940px !important;
    margin: 0 auto;
    padding: 0 !important;
  }
  #recipe-details-container #recipe-details, #recipe-details-container #meal-details, #meal-cook-container #recipe-details, #meal-cook-container #meal-details {
    position: relative;
  }
  #recipe-details-container #recipe-details #aside-container, #recipe-details-container #meal-details #aside-container, #meal-cook-container #recipe-details #aside-container, #meal-cook-container #meal-details #aside-container {
    position: absolute;
    top: 292px;
    right: 1px;
  }
}
@media screen and (max-width: 1015px) {
  #recipe-details-container #recipe-details #aside-container, #recipe-details-container #meal-details #aside-container, #meal-cook-container #recipe-details #aside-container, #meal-cook-container #meal-details #aside-container {
    top: 240px;
    right: 1px;
  }
}
