#recipe-details-container {
  margin: 0 auto;
  position: relative;
}
#recipe-details-container .card .card-header li.nav-item span {
  color: var(--bs-success-text-emphasis);
}
#recipe-details-container .card .card-header li.nav-item span:hover {
  color: var(--bs-primary);
}
#recipe-details-container .card .card-header .back-button {
  position: absolute;
  top: 5px; /* Adjust as needed */
  right: 8px; /* Adjust as needed */
  z-index: 15; /* Ensure it's on top of other content */
  border: 1px solid var(--bs-success-text-emphasis);
  color: #fff !important;
}
#recipe-details-container .card .card-body .img-container {
  max-width: 600px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#recipe-details-container .card .card-body .img-container .image {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#recipe-details-container .card .card-body .img-container .image:hover {
  transform: scale(1.03);
}
#recipe-details-container .card .card-body .img-container .add-to-favourites-button .liked-icon, #recipe-details-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon {
  position: absolute;
  top: 9px;
  left: 18px;
  font-size: 25px;
}
#recipe-details-container .card .card-body .img-container .add-to-favourites-button .liked-icon {
  color: red;
}
#recipe-details-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon {
  color: grey;
}
#recipe-details-container .card .card-body .img-container .fa-user {
  position: absolute;
  color: yellow;
  top: 9px;
  left: 18px;
  font-size: 25px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container {
  display: inline-block; /* Ensure the container wraps around its contents */
  position: absolute;
  bottom: 3px;
  right: 14px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button::before {
  content: ""; /* Create a pseudo-element for the circular background */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .plus::before {
  background-color: var(--bs-success);
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .minus::before {
  background-color: var(--bs-danger);
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button .fa {
  position: absolute;
  top: 50%; /* Position the icon vertically */
  left: 50%; /* Position the icon horizontally */
  transform: translate(-50%, -50%); /* Center the icon */
  color: white; /* Icon color */
  font-size: 36px; /* Adjust icon size as needed */
}
#recipe-details-container .card .card-body .recipe-description {
  margin-top: 10px;
  margin-bottom: 20px;
}
#recipe-details-container .card .card-body .ingredient-heading {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 300;
}
#recipe-details-container .card .card-footer .card-btn {
  font-size: 16px;
}

@media (min-width: 576px) {
  #recipe-details-container {
    max-width: 980px !important;
    margin: 0 auto;
    padding: 40px !important;
  }
  #recipe-details-container #recipe-details {
    position: relative;
  }
  #recipe-details-container #recipe-details #aside-container {
    position: absolute;
    top: 247px;
    right: 1px;
  }
}
