#recipe-details-container, #meal-cook-container {
  margin: 0 auto;
  position: relative;
}
#recipe-details-container .card, #meal-cook-container .card {
  border: 1px solid var(--bs-card-border-color);
}
#recipe-details-container .card .card-header .nav-item .nav-link, #meal-cook-container .card .card-header .nav-item .nav-link {
  color: var(--bs-success);
}
#recipe-details-container .card .card-header .nav-item .nav-link:hover, #meal-cook-container .card .card-header .nav-item .nav-link:hover {
  color: #fff;
}
#recipe-details-container .card .card-header .nav-item .nav-link.active, #meal-cook-container .card .card-header .nav-item .nav-link.active {
  font-weight: bolder;
  color: var(--bs-body-color) !important;
}
#recipe-details-container .card .card-header .nav-item .nav-link.active:hover, #meal-cook-container .card .card-header .nav-item .nav-link.active:hover {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-primary) !important;
  border: 1px solid var(--bs-body-bg) !important;
}
#recipe-details-container .card .card-header .back-button, #meal-cook-container .card .card-header .back-button {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 15;
}
#recipe-details-container .card .card-body .recipe-title, #recipe-details-container .card .card-body .meal-title, #meal-cook-container .card .card-body .recipe-title, #meal-cook-container .card .card-body .meal-title {
  font-family: "Libre Baskerville", serif;
}
#recipe-details-container .card .card-body .recipe-title .meal-title-style, #recipe-details-container .card .card-body .meal-title .meal-title-style, #meal-cook-container .card .card-body .recipe-title .meal-title-style, #meal-cook-container .card .card-body .meal-title .meal-title-style {
  text-decoration: underline;
}
#recipe-details-container .card .card-body .img-container, #meal-cook-container .card .card-body .img-container {
  position: relative;
  height: 300px;
  max-width: 592px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#recipe-details-container .card .card-body .img-container .image, #meal-cook-container .card .card-body .img-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
#recipe-details-container .card .card-body .img-container .image:hover, #meal-cook-container .card .card-body .img-container .image:hover {
  transform: scale(1.02);
}
#recipe-details-container .card .card-body .img-container .add-to-favourites-button .liked-icon, #recipe-details-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon, #meal-cook-container .card .card-body .img-container .add-to-favourites-button .liked-icon, #meal-cook-container .card .card-body .img-container .add-to-favourites-button .not-liked-icon {
  position: absolute;
  top: 12px;
  left: 20px;
  font-size: 28px;
}
#recipe-details-container .card .card-body .img-container .fa-user-circle, #meal-cook-container .card .card-body .img-container .fa-user-circle {
  position: absolute;
  top: 10px;
  left: 19px;
  font-size: 28px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container, #meal-cook-container .card .card-body .img-container .add-to-mealplan-container {
  display: inline-block; /* Ensure the container wraps around its contents */
  position: absolute;
  bottom: 5px;
  right: 20px;
}
#recipe-details-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button, #meal-cook-container .card .card-body .img-container .add-to-mealplan-container .add-to-mealplan-button {
  position: relative;
  display: inline-block;
}
#recipe-details-container .card .card-body .recipe-description, #recipe-details-container .card .card-body .meal-description, #meal-cook-container .card .card-body .recipe-description, #meal-cook-container .card .card-body .meal-description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}
#recipe-details-container .card .card-body .list-group-item, #meal-cook-container .card .card-body .list-group-item {
  border: none;
}
#recipe-details-container .card .card-body .list-item-style, #meal-cook-container .card .card-body .list-item-style {
  font-size: 14px;
  font-family: "Libre Baskerville", serif;
}
#recipe-details-container .card .card-body .ingredient-heading, #meal-cook-container .card .card-body .ingredient-heading {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
}
#recipe-details-container .card .card-body .units-styler, #meal-cook-container .card .card-body .units-styler {
  font-weight: 300;
}
#recipe-details-container .card .card-body #instructions .step-number, #meal-cook-container .card .card-body #instructions .step-number {
  width: 35px;
  height: 35px;
  background-color: var(--bs-success);
  border-radius: 8px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: var(--bs-primary);
}

@media screen and (max-width: 768px) {
  #recipe-details-container .back-button, #meal-cook-container .back-button {
    height: 34px !important;
    width: 42px !important;
    top: 2px;
    font-size: 18px;
  }
}
