
#recipe-details-container {
    margin: 0 auto;
    position: relative;

    .card {

        .card-header {
            li.nav-item span {
                color: var(--bs-success-text-emphasis);
            }

            li.nav-item span:hover {
                color: var(--bs-primary);
            }

            .back-button {
                position: absolute;
                top: 5px; /* Adjust as needed */
                right: 8px; /* Adjust as needed */
                z-index: 15; /* Ensure it's on top of other content */
                border: 1px solid var(--bs-success-text-emphasis);
                color: #fff !important;
            }
        }

        .card-body {

            .img-container {
                max-width: 600px;
                height: 300px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden;

                .image {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                    border-radius: 10px;
                    transition: transform 0.3s ease;
                }

                .image:hover {
                    transform: scale(1.03);
                }

                .add-to-favourites-button {

                    .liked-icon, .not-liked-icon {
                        position: absolute;
                        top: 9px;
                        left: 18px;
                        font-size: 25px;
                    }

                    .liked-icon {
                        color: red;
                    }

                    .not-liked-icon {
                        color: grey;
                    }
                }

                .add-to-mealplan-container {
                    display: inline-block; /* Ensure the container wraps around its contents */
                    position: absolute;
                    bottom: 3px;
                    right: 14px;

                    .add-to-mealplan-button {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                    }

                    .add-to-mealplan-button::before {
                        content: ""; /* Create a pseudo-element for the circular background */
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        z-index: 0;
                    }

                    .plus::before {
                        background-color: var(--bs-success);
                    }

                    .minus::before {
                        background-color: var(--bs-danger);
                    }

                    .add-to-mealplan-button .fa {
                        position: absolute;
                        top: 50%; /* Position the icon vertically */
                        left: 50%; /* Position the icon horizontally */
                        transform: translate(-50%, -50%); /* Center the icon */
                        color: white; /* Icon color */
                        font-size: 36px; /* Adjust icon size as needed */
                    }
                }
            }

            .recipe-description {
                margin-top: 10px;
                margin-bottom: 20px;
            }

            .ingredient-heading {
                font-size: 16px;
                text-decoration: underline;
                font-weight: 300;
            }
        }

        .card-footer {
            .card-btn {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 576px) {
    #recipe-details-container {
        max-width: 980px !important;
        margin: 0 auto;
        padding: 40px !important;

        #recipe-details {
            position: relative;

            #aside-container {
                position: absolute;
                top: 247px;
                right: 1px;
            }
        }
    }
}








