.error-image {
    background: url('/img/error-background-large.webp') no-repeat center center;
    

    .form-container {
        top: 40% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    @media (max-width: 1200px) {
        background: url('/img/error-background-medium.webp') no-repeat center center;
        background-size: cover;
    }

    @media (max-width: 768px) {
        background: url('/img/error-background-small.webp') no-repeat center center;
    }
}
