.error-image {
    background: url('/img/istockphoto-154163177-2048x2048.jpg') no-repeat center center;
    

    .form-container {
        top: 40% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}
