.container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 20px;
}
.container #steps-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 6.4rem;
  margin-bottom: 8rem;
  margin-top: 2.4rem;
  align-items: center;
}
.container #steps-container .step-text-box .step-number {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}
.container #steps-container .step-text-box .heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.35px;
  margin-bottom: 0.5rem;
}
.container #steps-container .step-text-box .step-decsription {
  font-size: 2rem;
  line-height: 2;
  font-weight: 400;
}
.container #steps-container .step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container #steps-container .step-img-box .step-img {
  width: 35%;
  z-index: 10;
}
.container #steps-container .step-img-box::before,
.container #steps-container .step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container #steps-container .step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fbe2b4;
  z-index: -2;
}
.container #steps-container .step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #f7c569;
  z-index: -1;
}
.container #steps-container:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #steps-container {
    row-gap: 4.8rem !important;
    grid-template-columns: 1fr !important;
  }
  #steps-container step-img-box {
    transform: translateY(2.4rem);
  }
  #steps-container .step-img-box:nth-child(2) {
    grid-row: 1 !important;
  }
  #steps-container .step-img-box:nth-child(6) {
    grid-row: 5 !important;
  }
}
