html .liked-icon {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkred;
}
html .not-liked-icon {
  color: lightgray;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222222;
}
html .not-liked-icon:hover {
  color: red;
}
html .btn-icon-only::before {
  content: ""; /* A pseudo-element for the background */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: background-color 0.3s ease;
}
html .btn-icon-only .fa {
  color: white; /* Icon color */
}
html .plus, html .minus {
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
}
html .plus:hover, html .minus:hover {
  box-shadow: none;
}
html .plus::before {
  background-color: var(--bs-primary);
  color: #fff;
  border: 2px solid var(--bs-primary);
}
html .minus::before {
  background-color: var(--bs-danger);
  color: #fff;
  border: 2px solid var(--bs-danger);
}
html .plus:hover::before {
  background-color: #fff;
  border: 2px solid var(--bs-primary);
}
html .minus:hover::before {
  background-color: #fff;
  border: 2px solid var(--bs-danger) !important;
}
html .plus:hover .fa {
  color: var(--bs-primary);
}
html .minus:hover .fa {
  color: var(--bs-danger);
}
html .fa-user-circle {
  color: var(--bs-success);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bs-primary);
}
html .fa-flag-checkered {
  font-size: 24px;
}
html .finished {
  color: var(--bs-danger);
}
html .not-finished {
  color: var(--bs-primary);
}
