html {
    // like icon styling
    .liked-icon {
        color: red;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: darkred;
    }

    .liked-icon:hover {
        color: #fff;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #222222;
    }

    .not-liked-icon {
        color: lightgray;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #222222;
    }

    .not-liked-icon:hover {
        color: red;
    }
    // add to meal plan btn styling

    .btn-icon-only::before {
        content: ""; /* A pseudo-element for the background */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        z-index: 0;
        transition: background-color 0.3s ease;
    }

    .btn-icon-only .fa {
        
        color: white; /* Icon color */
    }

    .plus, .minus {
        box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);

        &:hover {
            box-shadow: none;
        }
    }

    .plus::before {
        background-color: var(--bs-primary);
        color: #fff;
        border: 2px solid var(--bs-primary);
    }


    .minus::before {
        background-color: var(--bs-danger);
        color: #fff;
        border: 2px solid var(--bs-danger);
    }

    .plus:hover::before {
        background-color: #fff;
        border: 2px solid var(--bs-primary);
    }

    .minus:hover::before {
        background-color: #fff;
        border: 2px solid var(--bs-danger);
    }

    .plus:hover {
        .fa {
            color: var(--bs-primary);
        }
    }

    .minus:hover {
        .fa {
            color: var(--bs-danger);
        }
    }
    // owned recipe style
    .fa-user-circle {
        color: var(--bs-success);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--bs-primary);
    }

    .fa-flag-checkered {
        font-size: 24px;
    }

    .finished {
        color: var(--bs-danger);
    }

    .not-finished {
        color: var(--bs-primary);
    }
}
