html .liked-icon {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkred;
}
html .not-liked-icon {
  color: lightgray;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222222;
}
html .not-liked-icon:hover {
  color: red;
}
html .fa-user-circle {
  color: var(--bs-success);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--bs-primary);
}
html .finished {
  color: var(--bs-danger);
}
html .not-finished, html .cooked {
  color: var(--bs-primary);
}
html .not-cooked {
  color: lightgrey;
}
