#add-mealplan {
    max-width: 1000px;
    padding-top: 0 !important;

    .row {
        padding-bottom: 16px;

        .info-pill {
            border: 1px solid var(--bs-primary);
            border-radius: 8px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0.8rem 1.25rem;
            margin-bottom: 8px;

            .no-wrap-text {
                white-space: nowrap;
            }

            input[type="text"] {
                font-family: 'Libre Baskerville', serif;
                font-size: 16px;
            }
        }

        li {
            margin-bottom: 10px;
            font-weight: 300;
        }


        .meal-row {
            position: relative;

            .meal-info {
                display: flex;
                gap: 8px;
                align-items: center;
            }

            img {
                object-fit: cover;
                width: 28%;
                max-width: 80px;
                min-width: 50px;
                display: block;
                height: 5rem;
            }

            .meal-title {
                font-family: 'Libre Baskerville', serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                margin-bottom: 0;
                color: var(--meal-title-color);
            }

            select {
                font-family: "Libre Baskerville", serif;
                font-size: 14px;
            }

            .category-text {
                font-size: 14px;
                font-weight: 400;
            }


            .remove-btn-container {
                display: block;

                .minus {
                    position: relative;
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                }

                .minus::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    z-index: 0;
                    background-color: var(--bs-danger);
                }

                .minus .fa-minus {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-size: 30px;
                }
            }
        }

        .info-pill.heading-pill {
            font-size: x-large;
            text-align: center;
        }

        .inner-padding {
            padding: 8px;


            .tip-start {
                text-decoration: underline;
                font-weight: 600;
            }
        }

        .inner-padding.statistics-list {
            padding: 20px 30px !important;
            border-radius: 8px;
            background-color: var(--bs-light);
            color: var(--bs-primary);

            .statistics {
                font-weight: 600;
                text-transform: capitalize;
                color: var(--bs-primary);
            }
        }

        .btn {
            padding: 0.75rem 1.2rem;
            font-size: larger;
            text-transform: uppercase;
        }
    }
}
