#recipe-container {
  max-width: 1300px;
  padding: 0 10px;
}
#recipe-container .collection-heading {
  margin-left: 0;
  padding-left: 0;
}
#recipe-container #favourite-recipes, #recipe-container #owned-recipes {
  overflow-x: auto;
  height: 300px;
}
#recipe-container #favourite-recipes .row.d-flex, #recipe-container #owned-recipes .row.d-flex {
  height: 100%;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container, #recipe-container #owned-recipes .row.d-flex .recipe-container {
  width: 250px;
  flex-grow: 0;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card, #recipe-container #owned-recipes .row.d-flex .recipe-container .card {
  height: 100%;
  position: relative;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card img.fit-cover, #recipe-container #owned-recipes .row.d-flex .recipe-container .card img.fit-cover {
  height: 8rem;
  object-fit: cover;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .liked-icon, #recipe-container #favourite-recipes .row.d-flex .recipe-container .card .not-liked-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .liked-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .not-liked-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  font-size: 25px;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .liked-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .liked-icon {
  color: red;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .not-liked-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .not-liked-icon {
  color: rgba(255, 255, 255, 0.65);
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .add-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .add-icon {
  position: absolute;
  top: 88px;
  right: 3px;
  font-size: 37px;
  color: var(--bs-success);
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .material-icons.card-icon, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .material-icons.card-icon {
  font-size: 13px;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .icon-text, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .icon-text {
  font-size: 13px;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card span.badge, #recipe-container #owned-recipes .row.d-flex .recipe-container .card span.badge {
  font-size: 13px;
  font-size: small;
  padding: 1px 6px 3px 6px;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .recipe-title, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .recipe-title {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 2px;
  width: 216px;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .recipe-title .text-overflow-clamp, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .recipe-title .text-overflow-clamp {
  width: 100%;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card hr, #recipe-container #owned-recipes .row.d-flex .recipe-container .card hr {
  padding: 0;
  margin: 0;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .recipe-description, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .recipe-description {
  width: 216px;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#recipe-container #favourite-recipes .row.d-flex .recipe-container .card .recipe-description .text-overflow-clamp, #recipe-container #owned-recipes .row.d-flex .recipe-container .card .recipe-description .text-overflow-clamp {
  width: 100%;
  /* this code clamps based on specified lines */
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  text-overflow: ellipsis;
}
