.card-border-style, .card-custom-style-with-back-btn, #add-recipe .card, #edit-recipe .card {
  box-shadow: 10px 15px 20px 0.5rem rgba(0, 0, 0, 0.06);
}

.food-background {
  background: url("/img/pexels-ella-olsson-572949-1640773.jpg") no-repeat center center;
}

.change-pass, .info-message {
  top: 10% !important;
}

.image-overlay {
  margin: 0 auto;
  background-size: cover;
  position: fixed;
  top: 50px;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 1.5rem !important;
}
.image-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -10;
}

@media (min-width: 768px) {
  .image-overlay {
    top: 4% !important;
  }
}
.card-custom-style-with-back-btn, #add-recipe .card, #edit-recipe .card {
  margin-top: -10px !important;
}
.card-custom-style-with-back-btn .card-header .nav-item .nav-link, #add-recipe .card .card-header .nav-item .nav-link, #edit-recipe .card .card-header .nav-item .nav-link {
  color: var(--bs-success);
}
.card-custom-style-with-back-btn .card-header .nav-item .nav-link:hover, #add-recipe .card .card-header .nav-item .nav-link:hover, #edit-recipe .card .card-header .nav-item .nav-link:hover {
  color: var(--bs-primary) !important;
  background-color: var(--bs-success);
}
.card-custom-style-with-back-btn .card-header .nav-item .nav-link.active, #add-recipe .card .card-header .nav-item .nav-link.active, #edit-recipe .card .card-header .nav-item .nav-link.active {
  font-weight: bolder;
  color: var(--bs-body-color) !important;
}
.card-custom-style-with-back-btn .card-header .nav-item .nav-link.active:hover, #add-recipe .card .card-header .nav-item .nav-link.active:hover, #edit-recipe .card .card-header .nav-item .nav-link.active:hover {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
  border: 1px solid var(--bs-body-bg) !important;
}
.card-custom-style-with-back-btn .card-header .back-button, #add-recipe .card .card-header .back-button, #edit-recipe .card .card-header .back-button {
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 15;
}
.card-custom-style-with-back-btn .card-body .tab-pane, #add-recipe .card .card-body .tab-pane, #edit-recipe .card .card-body .tab-pane {
  min-height: 50vh;
}
.card-custom-style-with-back-btn .card-footer .buttons, #add-recipe .card .card-footer .buttons, #edit-recipe .card .card-footer .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.card-custom-style-with-back-btn .card-footer .buttons .btn-secondary, #add-recipe .card .card-footer .buttons .btn-secondary, #edit-recipe .card .card-footer .buttons .btn-secondary {
  border: 1px solid var(--bs-success);
}
.card-custom-style-with-back-btn .card-footer .buttons .btn-secondary:hover, #add-recipe .card .card-footer .buttons .btn-secondary:hover, #edit-recipe .card .card-footer .buttons .btn-secondary:hover {
  border: 1px solid var(--bs-success) !important;
}

@media screen and (max-width: 768px) {
  .card-custom-style-with-back-btn .back-button, #add-recipe .card .back-button, #edit-recipe .card .back-button {
    height: 34px !important;
    width: 42px !important;
    top: 2px;
    font-size: 18px;
  }
}
#add-recipe .heading-secondary, #edit-recipe .heading-secondary {
  font-size: 1.9rem !important;
}
#add-recipe .card .card-body .tab-pane, #edit-recipe .card .card-body .tab-pane {
  min-height: 30vh;
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList {
  position: absolute;
  z-index: 1000;
  padding-top: 8px;
  top: 29px;
  left: 94px;
  max-height: calc(100vh - 100px);
  width: 100%;
  overflow-y: auto;
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList a, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList a {
  color: var(--bs-body-color);
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList a span.color-result, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .suggestionsList a span.color-result {
  color: var(--bs-success) !important;
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .flex-inside, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .flex-inside {
  display: flex;
  flex-direction: row;
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .form-check-input, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .form-check-input {
  background-color: var(--bs-success);
  border-color: var(--bs-primary);
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .form-check-input:checked, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary-success);
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .adjust-btn-position, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .adjust-btn-position {
  margin-top: 1px;
}
#add-recipe .card .card-body #ingredientsContainer .ingredient-row .input-validation-error, #edit-recipe .card .card-body #ingredientsContainer .ingredient-row .input-validation-error {
  border-color: red;
}
#add-recipe .card .card-body hr, #edit-recipe .card .card-body hr {
  border-top: 3px dashed var(--bs-body-color);
  margin: 10px 0;
}

@media (min-width: 768px) {
  hr {
    margin: 1rem 0 !important;
  }
}
