#recipe-container {
    max-width: 1300px;
    padding: 0 10px;

    .collection-heading {
        margin-left: 0;
        padding-left: 0;
    }

    #favourite-recipes, #owned-recipes {
        overflow-x: auto;
        height: 300px;

        .row.d-flex {
            height: 100%;
        }
    }
}
