.recipe-container {
    width: 250px;
    flex-grow: 0;

    .card {
        width: 280px;
        height: auto;
        position: relative;

        @media (max-width: 575px) {
            width: 376px;
        }

        img.fit-cover {
            height: 8rem;
            object-fit: cover;
        }

        .liked-icon, .not-liked-icon, .fa-certificate {
            position: absolute;
            top: 8px;
            left: 10px;
            font-size: 25px;
        }

        .liked-icon {
            color: red;
        }

        .not-liked-icon {
            color: grey;
        }

        .fa-certificate {
            color: var(--bs-warning);
        }

        .add-icon {
            position: absolute;
            top: 88px;
            right: 3px;
            font-size: 37px;
            color: var(--bs-success);
        }

        .material-icons.card-icon {
            font-size: 13px;
        }

        .icon-text {
            font-size: 13px;
        }

        span.badge {
            font-size: 13px;
            font-size: small;
            padding: 1px 6px 4px 6px;
        }

        .recipe-title {
            font-family: "Lora", serif;
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 2px;
            // for overflow, limit length to 2 lines using web-kit
            width: 216px;

            @media (max-width: 575px) {
                width: 360px;
            }


            .text-overflow-clamp {
                width: 100%;
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                display: -webkit-box;
                text-overflow: ellipsis;
            }
        }

        hr {
            padding: 0;
            margin: 0;
        }

        .recipe-description {
            width: 266px;
            font-weight: 300;
            font-size: 14px;
            padding-bottom: 0;
            margin-bottom: 10px;

            .text-overflow-clamp {
                width: 100%;
                /* this code clamps based on specified lines */
                overflow: hidden;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                text-overflow: ellipsis;
            }
        }
    }
}
