
.recipe-container {
    flex-grow: 0;

    .card {
        
        position: relative;

        width: 100%;
        height: auto;
        overflow: hidden;

        border: 1px solid var(--bs-success);
        box-shadow: 0 0.4rem 0.8rem rgba(46,105,48, 0.15);
        transition: all 0.4s;

        .card-body {
            background-color: var(--bs-body-bg) !important;
            padding: 0.65rem !important;
        }

        .card-img-top {
            display: block;
            height: 12rem;
            object-fit: cover;
            width: 100%;
        }

        .liked-icon, .not-liked-icon, .fa-user-circle {
            position: absolute;
            top: 8px;
            left: 10px;
            font-size: 24px;
        }

        .add-to-mealplan-container {
            display: inline-block;
            position: absolute;
            bottom: 8px;
            right: 10px;

            .btn-icon-only {
                position: relative;
                display: inline-block;
                transition: background-color 0.3s ease;
            }
        }

        .material-icons.card-icon {
            font-size: 16px;
        }

        .icon-text {
            font-size: 15px;
            font-family: "Libre Baskerville", serif;
        }

        span.badge {
            display: inline-block;
            font-size: 14px;
            padding: 3px 10px;
            width: auto;
        }

        .recipe-title {
            font-family: "Libre Baskerville", serif;
            font-size: 16px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 2px;
        }

        .recipe-title:hover {
            text-decoration: underline;
        }

        hr {
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
        }

        .recipe-description {
            font-weight: 400;
            font-size: 15px;
            padding-bottom: 1.2rem;
        }
    }

    .card:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.6rem 1.6rem rgba(46,105,48,0.6);
    }
}
