#add-recipe, #edit-recipe {

    max-width: 1200px;

    #ingredientsContainer {

        .ingredient-row {

            .form-check-input {
                background-color: var(--bs-light);
                border-color: var(--bs-success);
            }

            .form-check-input:checked {
                background-color: var(--bs-primary);
                border-color: var(--bs-primary-emphasis);
            }

            .adjust-btn-position {
                margin-top: 4px;
            }
        }

        hr {
            margin-top: 0;
            margin-bottom: 8px;
            padding: 0;
        }
    }
}
