#recipe-container {
  max-width: 1300px;
  padding: 0 10px;
}
#recipe-container .collection-heading {
  margin-left: 0;
  padding-left: 0;
}
#recipe-container #favourite-recipes, #recipe-container #owned-recipes {
  overflow-x: auto;
  height: 300px;
}
#recipe-container #favourite-recipes .row.d-flex, #recipe-container #owned-recipes .row.d-flex {
  height: 100%;
}
