#add-recipe, #edit-recipe {
    max-width: 1000px;

    #ingredientsContainer {

        .ingredient-row {

            .suggestionsList {
                position: absolute;
                z-index: 1000;
                top: 29px;
                left: 98px;
                border-top: none;
                max-height: 200px;
                overflow-y: auto;
            }

            .form-check-input {
                background-color: var(--bs-success);
                border-color: var(--bs-primary);
            }

            .form-check-input:checked {
                background-color: var(--bs-primary);
                border-color: var(--bs-primary-success);
            }

            .adjust-btn-position {
                margin-top: 4px;
            }
        }

        hr {
            margin-top: 0;
            margin-bottom: 8px;
            padding: 0;
        }
    }
}
