.recipe-container {
  flex-grow: 0;
}
.recipe-container .card {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: all 0.4s;
  border: 1px solid var(--bs-body-bg);
}
.recipe-container .card .card-body {
  background-color: var(--bs-body-bg) !important;
  padding: 0.65rem !important;
}
.recipe-container .card .card-img-top {
  display: block;
  height: 12rem;
  object-fit: cover;
  width: 100%;
}
.recipe-container .card .liked-icon, .recipe-container .card .not-liked-icon, .recipe-container .card .fa-user-circle {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 24px;
}
.recipe-container .card .add-to-mealplan-container {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  right: 10px;
}
.recipe-container .card .add-to-mealplan-container .add-to-mealplan-button {
  position: relative;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.recipe-container .card .material-icons.card-icon {
  font-size: 13px;
}
.recipe-container .card .icon-text {
  font-size: 13px;
}
.recipe-container .card span.badge {
  display: inline-block;
  font-size: 12px;
  padding: 2px 6px 3px 6px;
  width: auto;
}
.recipe-container .card .recipe-title {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 2px;
}
.recipe-container .card .recipe-title:hover {
  text-decoration: underline;
}
.recipe-container .card hr {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
.recipe-container .card .recipe-description {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 1.2rem;
}
.recipe-container .card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.3);
}
