section#shopping-list-section {
  max-width: 800px;
}
section#shopping-list-section #heading-container .dates {
  font-weight: 400;
  font-size: 15px;
}
section#shopping-list-section .container p.ingredient-heading {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
}
section#shopping-list-section .container li .units-styler {
  font-weight: 300;
}
