@import '../lib/bootstrap/scss/functions';
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/variables-dark';
@import '../lib/bootstrap/scss/mixins';
@import 'typography';
@import 'navigation';
@import 'theme-switcher';
@import 'recipe-card';

$primary: #2e6930;
$secondary: #f8b324;
$success: #4caf50;
$info: #82a583;
$warning: #ffc107;
$danger: #DA0505;
$light: #eaf0ea; //#fef0d3;
$dark: #373b3e;

$theme-colors: ( "primary":$primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark, );


$dropdown-link-active-bg: $primary;
$navbar-light-color: $primary;
$navbar-hover-color: #70bf73;
$nav-link-color: $primary;
$nav-link-hover-color: $success;
$dropdown-link-active-color: #ffffff;
$dropdown-link-active-bg: $primary;

$dropdown-dark-color: #ffffff;
$dropdown-dark-link-color: #ffffff;
$dropdown-dark-link-hover-color: #70bf73;

$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #70bf73; // light green


[data-bs-theme="light"] {

    --body-bg: var(--bs-white);
    --body-color: var(--bs-dark);
    --body-emphasis-color: var(--bs-primary);
    --meal-title-color: var(--bs-primary);
    
}


[data-bs-theme="dark"] {
    --body-bg: var(--bs-dark);
    --body-color: var(--bs-white);
    --meal-title-color: var(--bs-white);
    
}


@import 'admin-panel';
@import 'home-index';
@import 'how-it-works';
@import 'all-recipes';
@import 'mine';
@import 'about';
@import 'details';
@import 'meal-plan';
@import 'recipe-form';
@import '../lib/bootstrap/scss/bootstrap';


















  







 



  

  

  

  