@import '../lib/bootstrap/scss/functions';
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/variables-dark';
@import '../lib/bootstrap/scss/mixins';
@import 'typography';
@import 'navigation';


$primary: #4caf50;
$secondary: #6c757d;
$success: #2e6930;
$info: #82a583;
$warning: #ffc107;
$danger: #DA0505;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: ( "primary":$primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark, );

$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: #70bf73; // light green

$dropdown-dark-color: #ffffff;
$dropdown-dark-link-color: #ffffff;
$dropdown-dark-link-hover-color: #70bf73;

@import 'admin-panel';
@import '../lib/bootstrap/scss/bootstrap';


















  







 



  

  

  

  