@import '../lib/bootstrap/scss/functions';
@import '../lib/bootstrap/scss/variables';
@import '../lib/bootstrap/scss/variables-dark';
@import '../lib/bootstrap/scss/mixins';
@import 'variables';
@import 'typography';
@import 'navigation';
@import 'theme-switcher';
@import 'shared-styles';
@import 'btn-style';
@import 'icons-style';
@import 'recipe-card';


@mixin make-container($padding-x: $container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

// Custom containers
.wide-contents-container {
    @include make-container();

    max-width: 1296px;
}

.list-container {
    @include make-container();

    max-width: 1040px;
}
.card-outer-container {
    @include make-container();

    max-width: 900px;
    margin-top: -25px;
}

// container for meal-details, add-meal, edit-meal
.card-container {
    @include make-container();
    @extend .card-border-style;
    max-width: 860px;
    padding: 2rem;
   
}
// Media queries for custom containers
@media (max-width: 900px) {
    .card-outer-container {
        margin-top: -30px !important;
        padding-left: 0;
        padding-right: 0;
    }

    .card-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}




// Custom Light Theme settings
[data-bs-theme="light"] {
    --body-bg: #fff;
    --body-color: var(--bs-dark);
    --body-emphasis-color: var(--bs-primary);
    --meal-title-color: var(--bs-primary);


    .subheading {
        color: var(--bs-primary);
    }

    .input-group {

        select, input, textarea {
            background-color: #fff;
            color: var(--bs-primary) !important;

            &::placeholder {
                font-size: 16px;
                color: var(--bs-primary) !important;
                opacity: 0.6;
            }
        }
    }

    .form-check-label {
        color: var(--bs-primary) !important;
    }

    .heading-tertiary {
        color: var(--bs-primary);
    }

    .step-number {
        color: var(--bs-success);
    }

    .contact-form {
        .input-group-text {
            background-color: $input-form-span-bg-dark-green-color !important;
            color: $very-light-green-text-color !important;
        }
    }
}

// Custom Light Theme settings
[data-bs-theme="dark"] {
    --body-bg: var(--bs-body-bg);
    --body-color: var(--bs-white);
    --body-emphasis-color: var(--bs-success);
    --meal-title-color: var(--bs-light);

    #main-container {
        a:not(.btn) {
            color: var(--bs-success) !important;
        }
    }

    .subheading {
        color: var(--bs-success);
    }

    .form-check-label {
        color: var(--bs-success) !important;
    }

    .form-check-input {
        background-color: var(--bs-primary) !important;
        color: var(--bs-success) !important;

        &:checked {
            color: var(--bs-primary) !important;
            background-color: var(--bs-success) !important;
            border: 1px solid var(--bs-light);
        }
    }

    .heading-tertiary {
        color: var(--bs-light);
    }

    .step-number {
        color: var(--bs-light);
        opacity: 0.7;
    }

    button.nav-link.active {
        color: #ffffff !important;
    }


    .form-control, .form-select {
        color: var(--bs-success) !important;
    }

    .card {
        border: 1px solid var(--bs-primary) !important;
    }

    .left-pill {
        border-color: var(--bs-success) !important;
        color: var(--bs-success) !important;
    }

    .contact-form {
        .input-group-text {
            background-color: var(--bs-success) !important;
            color: var(--bs-body-bg) !important;
            border: none !important;
        }
    }

    #collapseSummary .card-body {
        color: var(--bs-primary) !important;
        border: none !important;
    }
}


@import 'admin-panel';
@import 'admin-form-styles';
@import 'home-index';
@import 'how-it-works';
@import 'all-recipes';
@import 'recipes-mine';
@import 'about';
@import 'details';
@import 'meal-plan';
@import 'recipe-form';
@import 'shopping-list';
@import 'meal-plans-mine';
@import '../lib/bootstrap/scss/bootstrap';


















  







 



  

  

  

  