#user-profile {

    .card-container {
        border: none !important;
    }

    .card-img {
        width: 300px;
    }
}

@media (max-width: 767px) {
    #user-profile {
        .card-container {
            flex-direction: column;
            gap:20px;            

            .card-img {
                width: 100%;
                max-height: 250px;
                object-fit: cover;
                object-position: top;
                
            }

            .profile-container {
                padding: 10px !important;
                margin-left: 0;
                align-self: flex-start;

                .form-heading {
                    display: none;
                }
            }
        }
    }
}
