.image-overlay {
    margin: 0 auto;
    background: url('/img/pexels-ella-olsson-572949-1640773.jpg') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 50px; // because of nav
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;
    padding: 1.5rem !important;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        z-index: -10;
    }

    .form-container {
        position: absolute;
        z-index: 100;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--bs-body-bg);
        border: none;
        border-radius: 2px;
    }

    .external-login-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        padding: 8px;
        background-color: #f8f9fa; /* Light background for the button */
        
        border: 1px solid #ddd;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s;

        .external-login-icon {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }

    .external-login-button img {
        margin-right: 8px; /* Space between icon and text (if you add text) */
    }

    .external-login-button:active {
        background-color: #d6d8db;
    }

    .small-text {
        font-size: 12px;
        line-height: 1 !important;
    }
}
