@{
    ViewData["Title"] = "No Recipes";
}
<div class="image-overlay">
    <div class="form-container info-message">
        <h1 class="text-center text-capitalize text-danger mb-1">No Recipes yet</h1>
        
        <p class="mb-4">There are no recipes added by an Admin or by users yet!</p>

        <h5 class="text-center mb-3">Start adding now..</h5>

        <div class="row g-2 my-2 mb-4">
            <div class="col-6">
                <a asp-area="" asp-controller="Recipe" asp-action="Add" asp-route-returnUrl="/Admin/RecipeAdmin/Site" class="btn btn-primary w-100 text-center">Add Recipe</a>
            </div>
           
            <div class="col-6">
                <a asp-area="" asp-controller="HomeAdmin" asp-action="Index" class="btn btn-secondary w-100 text-center">Back to Home</a>
            </div>
        </div>
    </div>
</div>






