@model ICollection<RecipeAllViewModel>
@{
    ViewData["Title"] = "Site Recipes";


    var siteHeading = new PageHeadingViewModel
        {
            Subheading = ViewData["Title"].ToString()
        };
}

<div class="wide-contents-container">
    <div class="row">
        <partial name="_HeadingPartial" model="siteHeading" />
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 pb-4">
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeCardPartial" model="recipe" />
        }
    </div>  
</div>





