@{
    ViewData["Title"] = "Access Denied";
}
<div id="access-denied">   
    <div class="form-container">
        <h3 class="text-capitalize mb-1">Oops..</h3>
        <h5 class="text-uppercase text-danger mb-4">Something went wrong</h5>
        
        <p class="user-text">For some reason your Sign In/Up attempt was unsuccessful!</p>
        <p class="user-text">You can <a asp-controller="User" asp-action="Login" class="custom-link">try again</a> later or <a asp-controller="User" asp-action="Register" class="custom-link">create a local account</a>.</p>
        
        <p class="stronger-message mb-4">To proceed:</p>

        <div class="buttons-two mb-2">
            <a href="@Url.Action("Login", "User")" class="go-to-login">SignUp</a>            
           
            <a href="@Url.Action("Index", "Home")" class="go-to-home">Home</a>
            
        </div>
    </div>    
</div>

