@{
    ViewData["Title"] = "Account Deleted";
}
<div id="user-account-deleted">
    <div class="form-container">
        <h5 class="text-center text-uppercase mb-4 text-danger">Your account has been successfully deleted</h5>        

        <p class="user-text">We're sorry to see you go, but we respect your decision. All your data has been permanently removed from our system. If you ever decide to return, you'll need to create a new account.</p>
        <p class="user-text">If this was a mistake you can create a new account or signup using external logins by using some of the options below:</p>

        <h6 class="suggested-links-message">To go back, choose one of the following:</h6>

        <div class="buttons-two">
            
            <a href="@Url.Action("Register", "User")" class="register-redirect-btn">Register</a>
           
            <a href="@Url.Action("Index", "Home")" class="home-redirect-btn">Home</a>

        </div>
        <div class="mb-4">
            <p class="redirection-message">You will be redirected to the homepage in <span class="text-danger small d-inline-block" id="countdown">1000</span> seconds.</p>
            <p class="redirection-message">If the page doesn't redirect, <a href="/Home/Index">click here</a>.</p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        let countdown = 999;

        updateCountdown();
        // Function to update the countdown and redirect
        function updateCountdown() {  
            document.getElementById('countdown').textContent = countdown;           
            countdown--;
            
            if (countdown < 0) {
                window.location.href = '/Home/Index';
            } else {                
                setTimeout(updateCountdown, 1000);
            }
        }
        
    </script>
}

