@model ChangePasswordFormModel
@{
    ViewData["Title"] = "Change Password";
}

<div id="user-change-pass" class="image-overlay food-background">
    <div class="form-container change-pass">
        <h3 class="text-uppercase mb-4">@ViewData["Title"]</h3>  
        <p>For security reasons, we recommend changing your password regularly. Please enter your current password, followed by your new password.</p>
        
        <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

        <form asp-controller="User" asp-action="ChangePassword" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Current Password</span>
                    <input asp-for="CurrentPassword" class="form-control" />
                </div>
                <span asp-validation-for="CurrentPassword" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">New Password</span>
                    <input asp-for="NewPassword" class="form-control" />
                </div>
                <span asp-validation-for="NewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text">Confirm Password</span>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-5">
                <button type="submit" class="btn btn-danger w-100 text-center">Confirm</button>
            </div>
        </form>        
    </div>
</div>

@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}
