@model ChangePasswordFormModel
@{
    ViewData["Title"] = "Change Password";
}

<div id="user-change-pass">
    <div class="form-container">
        <h3 class="text-uppercase mb-3">@ViewData["Title"]</h3>  
        <p class="user-text mb-2">For security reasons, we recommend changing your password regularly. 
        </p>            
        <p class="user-text fw-medium">Please enter your current password, followed by your new password.</p>
        
        <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

        <form asp-controller="User" asp-action="ChangePassword" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-unlock"></i>
                    </span>
                    <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                </div>
                <span asp-validation-for="CurrentPassword" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                </div>
                <span asp-validation-for="NewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-arrow-rotate-right"></i>
                    </span>
                    <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm Password" />
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-5">
                <button type="submit" class="change-password">Confirm</button>
            </div>
        </form>        
    </div>
</div>

@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}
