@{
    ViewData["Title"] = "Confirmation Failed";
}
<div id="confirmation-failed">
    <div class="form-container">
        <h3 class="text-uppercase text-danger mb-4">Email Confirmation Failed</h3>

        <p class="user-text">For some reason your Email Confirmation attempt was unsuccessful!</p>
        <p class="mb-3">You can try again by going back to <a asp-controller="User" asp-action="Register" class="custom-link">Register</a>.</p>
       
        <p class="stronger-message mb-4">To proceed:</p>

        <div class="buttons-two mb-2">
            <a href="@Url.Action("Login", "User")" class="go-to-login">SignUp</a>

            <a href="@Url.Action("Index", "Home")" class="go-to-home">Home</a>

        </div>
    </div>
</div>

