@{
    ViewData["Title"] = "Email Confirmation Info";
}
<div id="user-email-confirmation-info" class="image-overlay">
    <div class="form-container info-message">
        <h5 class="text-center text-uppercase mb-4 text-danger">Confirm your email address to get started on CookTheWeek</h5>

        <p class="text-center">A confirmation email has been sent to <span class="text-danger text-decoration-underline">@ViewBag.Email</span>. Please check your inbox to confirm your account.</p>
        <p class="text-center mb-4">Once you do so, you will be able to save favourite recipes, add your own or build your meal plans.</p>
        <div class="row g-2 my-2 mb-3">
            <div class="col-12">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary w-100 text-center">Back to Home</a>
            </div>           
        </div>
        <p class="small text-center">If you didn`t request this email, there`s nothing to worry about - you can safely ignore it.</p>
    </div>
</div>



