@{
    ViewData["Title"] = "Email Confirmation Info";
}
<div id="user-email-confirmation-info">
    <div class="form-container">
        <h3 class="text-center text-uppercase mb-4 text-danger">Confirm your email</h3>

        <p class="user-text mb-5">A confirmation email has been sent to <span class="bolder-red-text">@ViewBag.Email</span>.</p>
        <p class="stronger-message">Please check your inbox to confirm your account.</p>
        <div class="d-flex align-items-center justify-content-center mb-4">
            <a href="@Url.Action("Index", "Home")" class="back-to-home-btn">Home</a>
        </div>
        <p class="small text-center mb-0 pb-0">If you did not request registration, you can safely ignore this message.</p>
    </div>
</div>



