@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div id="user-forgot-password-confirmation">
    <div class="form-container text-center">
        <h3 class="text-uppercase mb-4 text-danger">successful password confirmation</h3>

        <p class="user-text">An email with instructions on how to reset your password has been sent to the e-mail address entered.</p>
        <p class="stronger-message">Check your Inbox!</p>
        
        <div class="d-flex align-items-center justify-content-center mb-5">
            
            <a href="@Url.Action("Index", "Home")" class="back-to-home-btn">Home</a>
           
        </div>
        <p class="small text-center">If you did not request this change, please ignore this email. Your account remains secure, and no changes have been made.</p>
    </div>
</div>




