@model ForgotPasswordFormModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div id="user-forgot-password" class="image-overlay">
    <div class="form-container info-message p-4 top-50 start-50 translate-middle">
        <h5 class="text-center text-uppercase mb-1 text-danger">Forgot password?</h5>
        <p class="text-center mb-4">You will receive instructions for resetting your password.</p>


        <form asp-area="" asp-controller="User" asp-action="ForgotPassword" method="post">
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text">Email</span>
                    <input asp-for="Email" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="small text-danger"></span>
                <p class="small text-muted my-0">Remember your password? <span class="text-primary small"><a href="/User/Login">Login here</a></span></p>
            </div>
            
            <div class="mb-2">
                <button type="submit" class="btn btn-primary w-100 text-center">Reset Password</button>
            </div>
        </form>
        
    </div>
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}

