@using Microsoft.AspNetCore.Authentication.Facebook
@using Microsoft.AspNetCore.Authentication.Google
@model LoginFormModel
@{
    ViewData["Title"] = "Log in";
}

<div id="user-login" class="image-overlay food-background">
    <div class="form-container">
        <h2 class="text-capitalize mb-1">Login / Sign Up</h2>        
        <form method="post" asp-controller="User" asp-action="Login">
            <h6 class="text-uppercase mb-4">Use a local account</h6>
            
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Username</span>
                    <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                </div>
                 <span asp-validation-for="Username" class="small text-danger"></span>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                </div>
                <span asp-validation-for="Password" class="small text-danger"></span>
                <p class="small text-start">
                    Don`t have a local account?
                    <a class="custom-link" asp-controller="User" asp-action="Register">Create one here</a>
                </p>
            </div>
            <div class="my-1 d-flex flex-grow-0 align-items-center justify-content-between">
                
                <div class="form-check">
                    <input class="form-check-input" asp-for="RememberMe" type="checkbox" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me?                       
                    </label>
                </div>                
                <div class="form-check-label">
                    <a class="custom-link" href="/User/ForgotPassword">Forgot password?</a>
                </div>                
                
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-primary w-100 text-center">Log in</button>
            </div> 
            
            <h3 class="text-uppercase pb-4">Or</h3>
            <!-- External Login Options -->
            <div class="row mt-2 mb-4">
                <!-- Google btn -->
                <div class="col-sm-6 mb-2">
                    <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = GoogleDefaults.AuthenticationScheme })" class="btn external-login-button w-100 text-center">
                        <img class="external-login-icon" src="~/img/google.png" />
                        Sign up with Google
                    </a>
                </div>                             
                <!-- Facebook btn-->
                <div class="col-sm-6">
                    <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = FacebookDefaults.AuthenticationScheme })" class="btn external-login-button w-100 text-center">
                        <img class="external-login-icon" src="~/img/facebook.png" />
                        Continue with Facebook
                    </a>
                </div>
            </div>
            <p class="small my-3">By continuing, you agree to our <a href="/Home/TermsOfUse" class="custom-link">Terms of Use</a> and acknowledge that you have read our <a href="/Home/Privacy" class="custom-link">Privacy Policy</a>.</p>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}