@using Microsoft.AspNetCore.Authentication.Facebook
@using Microsoft.AspNetCore.Authentication.Google

@model LoginFormModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container image-overlay">
    <div class="form-container">
        <h2 class="text-center">@ViewData["Title"]</h2>        
        <form method="post" asp-controller="User" asp-action="Login">
            <h5>Use your local account</h5>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Username" class="form-label"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary w-100 text-center">Log in</button>
            </div>
            <div>
                <p>Don`t have an account? 
                    <a class="custom-link" asp-controller="User" asp-action="Register">Sign up here</a>
                </p>
            </div>
            <h5>Or continue with other ways</h5>
            <hr />
            <div class="d-flex gap-2">
                <!-- Google btn -->
                <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = GoogleDefaults.AuthenticationScheme })" class="btn btn-google">
                    <div class="gsi-material-button-icon">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                            <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                            <path fill="none" d="M0 0h48v48H0z"></path>
                        </svg>
                    </div>
                    Sign in with Google
                </a>                
                <!-- Facebook btn-->
                <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = FacebookDefaults.AuthenticationScheme })" class="btn btn-facebook">Facebook BTN</a>
            </div>
            <p class="text-center"><small>By continuing, you agree to our <span class="custom-link">Terms of Use</span> and acknowledge that you have read our <span class="custom-link">Privacy Policy</span></small>.</p>
        </form>
                
    </div>
    
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}