@using Microsoft.AspNetCore.Authentication.Facebook
@using Microsoft.AspNetCore.Authentication.Google
@model LoginFormModel
@{
    ViewData["Title"] = "Log in";
}

<div id="user-login" class="image-overlay">
    <div class="form-container">
        <h2 class="text-center text-capitalize mb-1">Login / Sign Up</h2>        
        <form method="post" asp-controller="User" asp-action="Login">
            <h6 class="text-center text-uppercase mb-4">Use a local account</h6>
            @* <hr /> *@
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
            <div class="pb-2">
                <div class="input-group">
                    <span class="input-group-text">Username</span>
                    <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                </div>
                 <span asp-validation-for="Username" class="small text-danger"></span>
            </div>
            <div>
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                </div>
                <span asp-validation-for="Password" class="small text-danger"></span>
                <p class="small">
                    Don`t have a local account?
                    <a class="custom-link" asp-controller="User" asp-action="Register">Create one here</a>
                </p>
            </div>
            <div class="py-1">
                <div class="checkbox">
                    <label asp-for="RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="pb-4">
                <button type="submit" class="btn btn-primary w-100 text-center">Log in</button>
            </div> 
            
            <h3 class="text-uppercase text-center pb-4">Or</h3>
            @* <hr /> *@
            <div class="row my-2 pb-4">
                <!-- Google btn -->
                <div class="col-6">
                    <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = GoogleDefaults.AuthenticationScheme })" class="btn external-login-button w-100 text-center">
                        <img class="external-login-icon" src="~/img/google.png" />
                        Sign up with Google
                    </a>
                </div>                             
                <!-- Facebook btn-->
                <div class="col-6">
                    <a href="@Url.Action("ExternalLogin", "User", new { schemeProvider = FacebookDefaults.AuthenticationScheme })" class="btn external-login-button w-100 text-center">
                        <img class="external-login-icon" src="~/img/facebook.png" />
                        Continue with Facebook
                    </a>
                </div>
            </div>
            <p class="text-center small py-3">By continuing, you agree to our <a href="/Home/TermsAndConditions" class="custom-link">Terms of Use</a> and acknowledge that you have read our <a href="/Home/Privacy" class="custom-link">Privacy Policy</a>.</p>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}