@model RegisterFormModel
@{
    ViewData["Title"] = "Register";
}

<div id="user-register" class="image-overlay">
    <div class="form-container">
        <h2 class="text-center text-capitalize mb-1">@ViewData["Title"]</h2>
        <form method="post" asp-action="Register" asp-controller="User">
            <h6 class="text-center text-uppercase mb-4">Create a new account</h6>
            
            <div asp-validation-summary="ModelOnly" class="small text-danger"></div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Username</span>
                    <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                </div>
                <span asp-validation-for="Username" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Email</span>            
                    <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />                
                </div>
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />                
                </div>
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Confirm Password</span>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />                
                </div>
                <span asp-validation-for="ConfirmPassword" class="small text-danger"></span>
                <p class="small">
                    Already have an accountor or want to sign up with Facebook or Google?
                    <a class="custom-link" asp-controller="User" asp-action="Login">Login/Sign up here</a>
                </p>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-danger w-100 text-center">Register</button>
            </div>
            
            <p class="text-center small py-3">By continuing, you agree to our <a href="/Home/TermsOfUse" class="custom-link">Terms of Use</a> and acknowledge that you have read our <a href="/Home/Privacy" class="custom-link">Privacy Policy</a>.</p>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}