@model RegisterFormModel
@using static CookTheWeek.Common.EntityValidationConstants.ApplicationUserValidation
@{
    ViewData["Title"] = "Register";
}

<div id="user-register">
    <div class="form-container">
        <h2 class="text-capitalize mb-1">@ViewData["Title"]</h2>
        <h6 class="text-uppercase mb-4">Create a new account</h6>
        <form method="post" asp-action="Register" asp-controller="User">
            
            @* <div asp-validation-summary="ModelOnly" class="small text-danger"></div> *@
            <div class="small text-danger">
                @if (ViewData.ModelState != null && ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
                {
                    var generalErrors = ViewData.ModelState
                    .Where(m => string.IsNullOrEmpty(m.Key)) // Check for general errors (non-property-specific)
                    .SelectMany(m => m.Value.Errors)
                    .Select(e => e.ErrorMessage)
                    .Distinct(); // To avoid duplicate messages

                    if(generalErrors.Any())
                    {
                        <ul>
                            @foreach (var error in generalErrors)
                            {
                                if (error == AlreadyHaveAccountErrorMessage)
                                {
                                    // Render HTML error message using Html.Raw
                                    <li>@Html.Raw(error)</li>
                                }
                                else
                                {
                            // Render property-specific or other errors as plain text
                                    <li>@error</li>
                                }
                                
                            }
                        </ul>
                    }
                }
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Username</span>
                    <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" />
                </div>
                <span asp-validation-for="Username" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Email</span>            
                    <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" />                
                </div>
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />                
                </div>
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">Confirm Password</span>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />                
                </div>
                <span asp-validation-for="ConfirmPassword" class="small text-danger"></span>
                <p class="small text-start">
                    Already have an accountor or want to sign up with Facebook or Google?
                    <a class="custom-link" asp-controller="User" asp-action="Login">Login/Sign up here</a>
                </p>
            </div>
            
            <div class="mb-3">
                <button type="submit" class="register-btn">Register</button>
            </div>
            
            <p class="small py-3">By continuing, you agree to our <a href="/Home/TermsOfUse" class="custom-link">Terms of Use</a> and acknowledge that you have read our <a href="/Home/Privacy" class="custom-link">Privacy Policy</a>.</p>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}