@{
    ViewData["Title"] = "Reset Password Confirmation";
}
<div id="user-reset-password-confirmation" class="image-overlay food-background">
    <div class="form-container info-message">
        <h5 class="text-uppercase mb-4 text-danger">Password Reset Successful</h5>

        <p>Your password has been successfully reset. You can now log in with your new password.</p>
        
        <div class="row g-2 my-2 mb-3">
            <div class="col-12">
                <a href="@Url.Action("Login", "User")" class="btn btn-primary w-100 text-center">Login</a>
            </div>
        </div>        
    </div>
</div>




