@{
    ViewData["Title"] = "Reset Password Confirmation";
}
<div id="user-reset-pass-conf">
    <div class="form-container">
        <h3 class="text-uppercase mb-4 text-danger">Password Successfully Reset!</h3>
        
        <p class="user-message mb-4">Login in with your new password</p>
        
        <div class="d-flex align-items-center justify-content-center">
            <a asp-controller="User" asp-action="Login" class="login-btn">Login</a>
        </div>        
    </div>
</div>




