@model ResetPasswordFormModel
@{
    ViewData["Title"] = "Reset Password";
}

<div id="user-reset-pass">
    <div class="form-container">
        <h2 class="text-capitalize mb-1">@ViewData["Title"]</h2>
        <h6 class="text-uppercase mb-4">Enter new password</h6>
        
        <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

        <form asp-controller="User" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />
            <input type="hidden" asp-for="Email" />

            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                </div>
                <span asp-validation-for="Password" class="small text-danger"></span>
            </div>
            <div class="mb-5">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-arrow-rotate-right"></i>
                    </span>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                </div>
                <span asp-validation-for="ConfirmPassword" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <button type="submit" class="reset-password-btn">Reset Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}

