@model SetPasswordFormModel
@{
    ViewData["Title"] = "Set Password";
}

<div id="user-set-pass" class="image-overlay">
    <div class="form-container change-pass">
        <h2 class="text-center text-capitalize mb-4">@ViewData["Title"]</h2>
        <p>Set up a password and login with a local account. Use your e-mail as a username.</p>
        <p>This will allow you to use both a local account and external logins, whichever is more convenient for you.</p>

        <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

        <form asp-controller="User" asp-action="SetPassword" method="post">            
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">New Password</span>
                    <input asp-for="NewPassword" class="form-control" />
                </div>
                <span asp-validation-for="NewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <span class="input-group-text">Confirm Password</span>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-5">
                <button type="submit" class="btn btn-danger w-100 text-center">Set Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}
