@model SetPasswordFormModel
@{
    ViewData["Title"] = "Set Password";
}

<div id="user-set-pass" class="image-overlay food-background">
    <div class="form-container change-pass">
        <h5 class="text-center text-uppercase mb-4">@ViewData["Title"]</h5>
        <p class="text-center mb-1 small">To enable local login, please set up a password for your account. Use your email address as your username.</p>
        <p class="text-center mb-3 small">By setting a local password, you can choose to log in using either your local account or your external login providers, whichever is more convenient for you.</p>

        <div asp-validation-summary="ModelOnly" class="small text-danger"></div>

        <form asp-controller="User" asp-action="SetPassword" method="post">            
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text">New Password</span>
                    <input asp-for="NewPassword" class="form-control" />
                </div>
                <span asp-validation-for="NewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-5">
                <div class="input-group">
                    <span class="input-group-text">Confirm Password</span>
                    <input asp-for="ConfirmNewPassword" class="form-control" />
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="small text-danger"></span>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-danger w-100 text-center">Set Password</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_JQueryValidationPartial.cshtml" />
}
