@{
    ViewData["Title"] = "No Meal Plans";    
}

<div id="meal-plans-none">
    <div class="form-container">
        
        <h3 class="mb-1">Let’s Get Cooking!</h3>
        <h5 class="text-uppercase mb-4">You have no Meal Plans yet</h5>
        <p class="stronger-message">
            Ready to start your culinary journey?
        </p>

        <p class="user-text">
            Explore our <a asp-area="" asp-controller="Recipe" asp-action="All" class="flex-nowrap custom-link">Recipes</a> section to find a variety of dishes.
            and start building your first personalized meal plan.
            
        </p>
        <p class="user-text">
            You can even <strong>add your own recipes</strong> to make your collection truly unique!
        </p>
        <p class="suggested-links-message mb-5">Start now by clicking below</p>
        
        <div class="buttons-two mb-2">
            <a class="browse-btn" asp-area="" asp-controller="Recipe" asp-action="All"><i class="fa-solid fa-magnifying-glass me-2"></i>Recipes</a>
            <a class="add-btn" asp-area="" asp-controller="Recipe" asp-action="Add"><i class="fa-solid fa-plus me-2"></i>Add</a>
        </div>       
        
    </div>
</div>
