@model RecipeCategoryAddFormModel
@{
    ViewData["Title"] = "Add Recipe Category";

    var headingModel = new PageHeadingViewModel
    {
        Subheading = ViewData["Title"]!.ToString(),
    };
}

<div id="category" class="container">
    <partial name="_HeadingPartial" model="headingModel" />

    <div class="row">
        <div class="col">
            <form method="post">
                <div class="input-group">
                    <span class="input-group-text">Name</span>
                    <input asp-for="Name" class="form-control" placeholder="Category Name..." type="text">
                </div>            
                <span asp-validation-for="Name" class="small text-danger"></span>

                <div class="text-center">
                    <input class="btn btn-primary btn-lg" type="submit" value="SAVE" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_JQueryValidationPartial.cshtml" />
}
